@import "tailwindcss" prefix(tw);
@import "./theme.css";

.chapter-article {
  @apply tw:text-base/7;

  h1 {
    @apply tw:text-2xl;
  }

  h1, h2 {
    @apply tw:font-bold tw:text-center tw:mt-16 tw:mb-8;
  }

  p {
    @apply tw:my-4;
  }

  p + p {
    @apply tw:indent-7;
  }
}
