@import "tailwindcss";
@import "@nuxt/ui";

@source "../../../content/**/*";

@theme {
  --container-4xl: 52rem;
  --container-prose: 65ch;
}

:root {
  /*--ui-container: var(--container-prose);*/
}


@layer utility {
  .small-caps {
    font-variant-caps: small-caps;
  }

  .arrow-link::before {
    content: '\2192\00A0';
  }
}
