doctype html
html(lang='de')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Lexikon-Roman
        link(rel='stylesheet' href='/styles/style.css')
    body#title-page-container
        #title-page
            #author Andreas Okopenko
            #lexikon Lexikon
            #druden
                | einer sentimentalen Reise zum
                br
                | Exporteurtreffen in Druden
            #roman Roman
            #lesen
                a(href='inhaltsverzeichnis.html') Zum Lesen
