extends ../templates/layout

block main
	- const title = "A"
	h1= title
	#a
		div
			| 
			b A.
			|  Sie sind es gewohnt, ein Buch — unter Umgehung des Vorwortes — von vorn nach hinten zu lesen. Sehr praktisch. Aber diesmal schlagen Sie, bitte, zur 
			a(href="gebrauchsanweisung.html") 
				span.small-caps Gebrauchsanweisung
			| 
			|  zurück, denn ohne die werden Sie das Buch nicht zum Roman machen. Ja: dieses Buch müssen erst Sie zum Roman machen. Im neuen Theater spielt das Publikum mit. Warum nicht im neuen Roman?
append navigation

	ul
		each item, index in list
			if item == title
				li= list[index-1]
				li= list[index+1]