extends ../templates/layout
block main
	- const title = "Allwissender Erzähler"
	h1= title
	#allwissender-erzaehler
		div
			| 
			b Allwissender Erzähler.
			|  Menschen dürfen Nashörner werden, aus Köpfen dürfen Spiralfedern dringen, Rechts- und Links-Stereo dürfen in verschiedenen Zeitaltern stehen, aber: der allwissende Erzähler sei todeswürdig, denn er könne in der Natur nicht nachgewiesen werden. So hängt mich Illusionisten halt, ihr Illusionisten.
