extends ../templates/layout
block main
	h1 Anfang der Reise
	#anfang-der-reise
		div
			| 
			b Anfang der Reise.
			|  Hochfrühling-Morgen, 6.30. Sich mit der → 
			a(href="strassenbahn.html") Straßenbahn
			|  fast verirrt haben.
		.indent
			| (Die Leute verstanden diese Fertigkeit an ihm doch nie. Ich kann viele Beispiele aus meiner Jugend anführen:
		.indent
			| (Raum für einschlägige Erinnerungen des Lesers.)
		.indent
			| )
		.indent
			| J. geriet in den Strudel des Straßen-Schlußstückes mit den 
			em nichts als
			|  Wirtshäusern und Autobushaltestellen nahe der
		.indent
			| noch näher
		.indent
			| und jetzt war sie schon da die
		.indent
			| Brücke.
		.indent
			| Man? Er? Ich? J.? — Zur Identifikation des Helden suchen Sie, bitte, die → 
			a(href="taufstelle.html") Taufstelle
			|  auf. Wen die tiefen Gründe für den Erzählerwechsel nicht interessieren, der folge mir gleich zur → 
			a(href="bruecke.html") Brücke
			| 
		.indent
			| → 
			a(href="inhaltsverzeichnis.html") Inhaltsverzeichnis
			| 