extends ../templates/layout
block main
	- const title = "Anfang der Reise"
	h1= title
	#anfang-der-reise
		div
			| 
			b Anfang der Reise.
			|  Hochfrühling-Morgen, 6.30. Sich mit der → 
			a(href="strassenbahn.html") Straßenbahn
			|  fast verirrt haben.
		.indent
			| (Die Leute verstanden diese Fertigkeit an ihm doch nie. Ich kann viele Beispiele aus meiner Jugend anführen:
			br
			br
			br
			br
		.align-center
			| (Raum für einschlägige Erinnerungen des Lesers.)
			br
			br
			br
			br
			br
			br
			br
			br
		.align-right
			| )
		div
			| J. geriet in den Strudel des Straßen-Schlußstückes mit den 
			em nichts als
			|  Wirtshäusern und Autobushaltestellen nahe der
		.align-center
			| noch näher
		.align-right
			| und jetzt war sie schon da die
		div
			| Brücke.
		.indent
			| Man? Er? Ich? J.? — Zur Identifikation des Helden suchen Sie, bitte, die → 
			a(href="taufstelle.html") Taufstelle
			|  auf. Wen die tiefen Gründe für den Erzählerwechsel nicht interessieren, der folge mir gleich zur → 
			a(href="bruecke.html") 
				em Brücke
			| .
