extends ../templates/layout
block page-vars
	- const title = "Anfang der Reise"
block main
	article#anfang-der-reise
		p
			| 
			b.inline-title Anfang der Reise.
			|  Hochfrühling-Morgen, 6.30. Sich mit der → 
			a(href="strassenbahn.html") Straßenbahn
			|  fast verirrt haben.
		p
			| (Die Leute verstanden diese Fertigkeit an ihm doch nie. Ich kann viele Beispiele aus meiner Jugend anführen:
			br
			br
			br
			br
		.align-center
			| (Raum für einschlägige Erinnerungen des Lesers.)
			br
			br
			br
			br
			br
			br
			br
			br
		.align-right
			| )
		p
			| J. geriet in den Strudel des Straßen-Schlußstückes mit den 
			em nichts als
			|  Wirtshäusern und Autobushaltestellen nahe der
		.align-center
			| noch näher
		.align-right
			| und jetzt war sie schon da die
		p
			| Brücke.
		p
			| Man? Er? Ich? J.? — Zur Identifikation des Helden suchen Sie, bitte, die → 
			a(href="taufstelle.html") Taufstelle
			|  auf. Wen die tiefen Gründe für den Erzählerwechsel nicht interessieren, der folge mir gleich zur → 
			a(href="bruecke.html") 
				em Brücke
			| .
