extends ../templates/layout
block main
	h1 Auflockerung im allgemeinen
	#auflockerung-im-allgemeinen
		div
			| 
			b Auflockerung im allgemeinen.
			|  Um 11.10 zeigt das Logbuch eine Auflockerung der Aulandschaft durch Weinhänge, Felder, Festlandbäume, die jeweils durchschimmern und mittels der gelbgrün färbenden Sonne einen raffinierten Hintergrund abgeben. Klar, daß auch Hügel nicht fehlen. So treibt man in die → 
			a(href="mittagserwartung.html")
				em Mittagserwartung
			| .
		.indent
			| → 
			a(href="inhaltsverzeichnis.html") Inhaltsverzeichnis
			| 