extends ../templates/layout
block title-const
	- const title = "Auflockerungen"
block main
	#auflockerungen-1
		div
			| 
			.inline-title Auflockerungen 1.
			|  Die Au ist nicht mehr so ernst zu nehmen. Hinter ihrem verleisernden Jammern Festland: ein → 
			a(href="huegel.html") Hügel
			| .
	#auflockerungen-2
		div
			| 
			.inline-title Auflockerungen 2.
			|  Hinter dünner Aubaumreihe, schräg aufwärts, ein → 
			a(href="felder.html") Feld
			| .
	#auflockerungen-3
		div
			| 
			.inline-title Auflockerungen 3.
			|  Hinter dünner Aubaumreihe, schräg aufwärts, ein → 
			a(href="weingarten.html") Weingarten
			| .
	#auflockerungen-4
		div
			| 
			.inline-title Auflockerungen 4.
			|  Freundlichkeiten durchsetzen und hintergründen die Au: Ackerstreifen, natürlich Ackermädchen, Wein, natürlich Weingartenmädchen, Lichtung, natürlich Rehe, nicht berühren, Sumpfbrücklein, natürlich Sumpfdottermädchen, natürlich: stelzende wippende Sumpfvöglein, Haselnußhügel, natürlich Haselnußmädchen, nicht berühren, Traktorenschuppen, natürlich Traktorenmädchen, durchsichtige Libellen, durchsichtiger Jungweibersommer, durchsichtige vertragene Stoffe, natürlich Mädchentüchlein, durchsichtige Sonnenkringelluft, natürlich natürliche.
	#auflockerungen-5
		div
			| 
			.inline-title Auflockerungen 5.
			|  Echter, schütterer Wald, Laubwald, ohne Fluß-Weiden und nasse Füße, aufgesonnt durch niedriges grünes Gestrüpp. Hier ist gut hatschen, nicht wahr, ihr
		.indent
			| (erstaunt:) 2 Männer und 1 Frau?
		.indent
			| Welche Krise führte zu dieser Verteilung? Oder geht ihr den Waldweg zum Weingarten in die Höhe? Aber ändert das etwas an
		.indent
			| 2 Männer und 1 Frau?
	#auflockerungen-6
		div
			| 
			.inline-title Auflockerungen 6.
			| 
			em Lockeres durchsonntes Wiesenwäldchen.
		.indent
			| (Eine) gelbgrüne Waldwiese. Waldwiese, gelbgrün. Wald, Wiese, Gelbgrün. Waldwiesen-gelbgrün. Wald, Wiese: gelb/grün. Wald, wiesengelbgrün. Wald, gelbgrün?: Wiesen. 
			em Eine Wiese (? In so viel Wald ?)
		.align-right
			em (Oszillogramm der Eindrucksnuancen)
	#auflockerungen-7
		div
			| 
			.inline-title Auflockerungen 7.
			em  Auwald-Lichtung.
		.indent
			| (Er:) Sechzig Meter, schau! Ich will in n Wald gehn. So wie du dir im Wald die Nerven erholn kannst, so kannst du dirs nirgends. So ein abgeschnittener Baum, so ein Papier drauflegen und die Natur bewundern. Ein Reh fuffzehn oder zwanzig Meter vor dir spazierngehn sehn.
		.indent
			| (Sie, sich als große Komikerin fühlend:) Auf einmal ein paar schlangen!!! Fuj!!, naa!!, für mich is so ein Wald keine Erholung.
