extends ../templates/layout
block title-const
	- const title = "Auflockerung im allgemeinen"
block main
	#auflockerung-im-allgemeinen
		div
			| 
			.inline-title Auflockerung im allgemeinen.
			|  Um 11.10 zeigt das Logbuch eine Auflockerung der Aulandschaft durch Weinhänge, Felder, Festlandbäume, die jeweils durchschimmern und mittels der gelbgrün färbenden Sonne einen raffinierten Hintergrund abgeben. Klar, daß auch Hügel nicht fehlen. So treibt man in die → 
			a(href="mittagserwartung.html")
				em Mittagserwartung
			| .
