extends ../templates/layout
block title-const
	- const title = "Außenvögel"
block main
	#aussenvoegel
		div
			| 
			b.inline-title Außenvögel
			|  (aus einer Illustrierten):
		.indent
			| 
			span.small-caps Speisekarte für Vogerln
			| 
		.indent
			| Ein Vogelhäuschen allein macht hungrige Vögel noch nicht glücklich. Es muß auch etwas Nahrhaftes hineinkommen. Beachten Sie folgende Speisekarte:
		ul
			li Blauu. Kohlmeisen: Hanfkörner, Sonnenblumen, Meisenring, Futterglocken.
			li Rotkehlchen: Getrocknete Beeren, Talg, Flomen, ölgetränkte Haferflocken, zerkleinerte Äpfel.
			li Sperlinge: Meisenring, Futterglocke, Hirse, Sämereien, ölg. Haferflocken.
			li Amseln: Getrocknete Beeren, Talg, Flomen, ölgetränkte Haferflocken.
			li Buchfink: Sonnenblumen, Hanfkörner, Hirse u. Sämereien.
