extends ../templates/layout
block main
	h1 Außenvögel
	#aussenvoegel
		div
			| 
			b Außenvögel
			|  (aus einer Illustrierten):
		.indent
			| 
			span.small-caps Speisekarte Für Vogerln
			| 
		.indent
			| Ein Vogelhäuschen allein macht hungrige Vögel noch nicht glücklich. Es muß auch etwas Nahrhaftes hineinkommen. Beachten Sie folgende Speisekarte:
		.indent
			| • Blauu. Kohlmeisen: Hanfkörner, Sonnenblumen, Meisen
		.indent
			| ring, Futterglocken.
		.indent
			| • Rotkehlchen: Getrocknete Beeren, Talg, Flomen, ölgetränkte
		.indent
			| Haferflocken, zerkleinerte Pipfel.
		.indent
			| • Sperlinge: Meisenring, Futterglocke, Hirse, Sämereien, ölg.
		.indent
			| Haferflocken.
		.indent
			| • Amseln: Getrocknete Beeren, Talg, Flomen, ölgetränkte
		.indent
			| Haferflocken.
		.indent
			| • Buchfink: Sonnenblumen, Hanfkörner, Hirse u. Sämereien.
		.indent
			| → 
			a(href="inhaltsverzeichnis.html") Inhaltsverzeichnis
			| 