extends ../templates/layout
block main
	h1 Außenvögel
	#aussenvoegel
		div
			| 
			b Außenvögel
			|  (aus einer Illustrierten):
		.indent
			| 
			span.small-caps Speisekarte für Vogerln
			| 
		.indent
			| Ein Vogelhäuschen allein macht hungrige Vögel noch nicht glücklich. Es muß auch etwas Nahrhaftes hineinkommen. Beachten Sie folgende Speisekarte:
		p
			li.indent Blauu. Kohlmeisen: Hanfkörner, Sonnenblumen, Meisenring, Futterglocken.
			li.indent Rotkehlchen: Getrocknete Beeren, Talg, Flomen, ölgetränkte Haferflocken, zerkleinerte Pipfel.
			li.indent Sperlinge: Meisenring, Futterglocke, Hirse, Sämereien, ölg. Haferflocken.
			li.indent Amseln: Getrocknete Beeren, Talg, Flomen, ölgetränkte Haferflocken.
			li.indent Buchfink: Sonnenblumen, Hanfkörner, Hirse u. Sämereien.
		.indent
			| → 
			a(href="inhaltsverzeichnis.html") Inhaltsverzeichnis
			| 