extends ../templates/layout
block page-vars
  - const title = "Befund"
block main
  article#befund
    p
      | 
      h2.inline-title Befund.
      |  Vgl. Hans Weigel über die Wienerin: 
      em Wenn sie versucht, das Fremdwort »Liebe« im Wienerischen einzuführen, wird sie scheitern.
