extends ../templates/layout
block title-const
	- const title = "Beißzange"
block main
	#beisszange
		div
			| 
			.inline-title Beißzange.
			|  »Da is er ghockt, der Ratz, dürft verheirat gwesen sein, hat ein Manndl gmacht, aber war schon hin. Ich hab ein Beißzangen gnommen und ihm am Mist tragen.«
