extends ../templates/layout
block title-const
	- const title = "Blaugrüner Liegestuhl"
block main
	#blaugruener-liegestuhl
		div
			| 
			b Blaugrüner Liegestuhl.
			|  Im Vorgarten eines Bauernhäuschens liegt ein vierbeinegrätschender Frosch auf dem Rücken: die Tochter, in die Stadt verdingt und verheiratet, jetzt auf Sonnungsurlaub, ein unauffälliger, aber stadtzu gespannter,: vektoriell aufgeladener blaugrüner Badeanzugkonspekt.
