extends ../templates/layout
block main
	h1 Blechchristus
	#blechchristus
		div
			| 
			b Blechchristus.
			|  Die Wirren, die seit dem Konzil nicht zur Ruh kommen. Ein Jungkaplan dichtet das Spiritual vom Blechchristus am Feldrand:
		.indent
			| Die Tauben scheißen Christus an,
		.indent
			| doch Christus bleibt der Schmerzensmann,
		.indent
			| hej, hej, Kyrieleison .....
		.indent
			| »Die Tauben« scheinen ihm schön doppelsinnig. Das Lied wird einmal gejazzt, von der Pfarrjugend, mit viel Vergnügen. Niemand weiß recht, was mit dem Jungkaplan geschehen soll. Das Lied bleibt jedenfalls einstweilen suspendiert.
