extends ../templates/layout
block main
	- const title = "Brücken der Erwachsenen"
	h1= title
	#bruecken-der-erwachsenen
		div
			| 
			b Brücken der Erwachsenen.
			|  Beim Einsturz einer Brücke klatscht sehr viel Fahrzeugeisen ins Wasser. Der Verkehr einer Großstadt rinnt unerwartet ins Flußbett aus. Viele Pläne fallen ins Wasser. Besonders eindrucksvoll ist es, wenn Züge, die rauchende Lokomotive voran, eisern ins Wasser hangen.
