extends ../templates/layout
block main
	h1 Brücke
	#bruecke
		div
			| 
			b Brücke.
			|  Es gibt zweierlei Brücken:
		.indent
			| 1. die Ozeanbrücke. Ihr „Oooooooze aaaaaaan!“ dröhnender
		.indent
			|    Vanadinstahl überdröhnt den ganzen Ozean, den sie über-
		.indent
			|    spannt; meist den riesigen Pazifik. Von ihrem Gedröhn
		.indent
			|    werden alle Matrosen, die unter ihr durchmüssen, taub.
		.indent
			|    Sie wölbt sich zehntausend Meter hoch über dem Meer,
		.indent
			|    kommt aber zugleich so tief herab, daß die Füße, die in
		.indent
			|    Todesangst über ihre schütteren Traversen laufen, unmit-
		.indent
			|    telbar über unserem Gesicht trampeln. Aufwärtsschauend
		.indent
			|    fällt man in die Mächtigkeit der Brücke: Stahlstreben-
		.indent
			|    werk, in diese Richtung wächst es unermeßlich –
		.indent
			| 2. die Flüßchenbrücke. Optischer Merksatz: Sie liegt immer
		.indent
			|    im Sonnenschein und an Flüßchen. Akustischer Merksatz:
		.indent
			|    Sie geht gebückt und auf Krücken, denn sie hat Brüche im
		.indent
			|    Rücken; (und wartet auf Brotbröckel, die ihr gute Kinder,
		.indent
			|    namentlich Brigitten, bringen).
		.indent
			|    –
		.indent
			|    Ferner gibt es die → 
			a(href="bruecken-der-erwachsenen.html") Brücken der Erwachsenen
			| .
		.indent
			|    Die Erwachsenenbrücke von Kaufmann J. kann, aus bestimmten Perspektiven, zu bestimmten Zeiten, vor allem, wenn sie unversehens dasteht, die fürchterliche Verwandschaft mit Brücke 1 nicht verleugnen. Heute steht sie groß, aber aufgeräumt, im Sonnenputz. Kaufmann J. ernennt sie zur Stadtschönheit: sie macht ihm Lust, der Stadt zu entkommen. Und siehe da, auf der Brücke liegt schon ein → 
			a(href="kuhdreck.html") Kuhdreck
			| .
		.indent
			| → 
			a(href="inhaltsverzeichnis.html") Inhaltsverzeichnis
			| 