extends ../templates/layout
block title-const
	- const title = "Eichhörnchen"
block main
	#eichhoernchen
		div
			| 
			b Eichhörnchen.
			|  Auch Autoren, Komponisten und Verhaltensforscherinnen halten sich Eichhörnchen. Diese gleichungsknackenden Zähne! Diese rostbuschigen Schwänze ! Geschwindigkeit, Geklettre, Geschmiege. Das Zimmer ein Wald, nichts unbeschädigt. Beim Milchkauf stets zuerst ans Eichtier denken, es eicht uns gründlich, das Hörnchen, ehe es uns zum Freund ernennt. Wozu hält man es? Verhaltensforscherinnen — gut. Aber Komponisten und Autoren? (→ 
			a(href="motive-fuer-den-erwerb-eines-eichhoernchens.html") Motive für den Erwerb eines Eichhörnchens
			| .)
