extends ../templates/layout
block page-vars
  - const title = "Entbehren"
block main
  article#entbehren
    p
      | 
      span.inline-title Entbehren.
      |  Zero Zobiak, der Bub, dachte lange, daß »entbehren« auf den Teddybären verzichten hieße.
