extends ../templates/layout
block main
	- const title = "Entbehren"
	h1= title
	#entbehren
		div
			| 
			b Entbehren.
			|  Zero Zobiak. der Bub, dachte lange, daß »entbehren«
		.indent
			| auf den Teddybären verzichten hieße.
