extends ../templates/layout
block main
	h1 Entbehren
	#entbehren
		div
			| 
			b Entbehren.
			|  Zero Zobiak. der Bub, dachte lange, daß »entbehren«
		.indent
			| auf den Teddybären verzichten hieße.
