extends ../templates/layout
block title-const
	- const title = "Entbehren"
block main
	article#entbehren
		p
			| 
			b.inline-title Entbehren.
			|  Zero Zobiak. der Bub, dachte lange, daß »entbehren«
		p
			| auf den Teddybären verzichten hieße.
