extends ../templates/layout
block main
	- const title = "Erproben"
	h1= title
	#erproben
		div
			| 
			b Erproben,
			|  ob ein Abschnitt nicht besser anderswo stände, läßt auch Chotjewitz seine Romanleser. Wir haben es aber nicht voneinander, sondern von der direkten Demokratie, die, sensiblen Barometern erkennbar, in der Luft liegt.
