extends ../templates/layout
block main
	h1 Erproben
	#erproben
		div
			| 
			b Erproben,
			|  ob ein Abschnitt nicht besser anderswo stände, läßt auch Chotjewitz seine Romanleser. Wir haben es aber nicht voneinander, sondern von der direkten Demokratie, die, sensiblen Barometern erkennbar, in der Luft liegt.
		.indent
			| → 
			a(href="inhaltsverzeichnis.html") Inhaltsverzeichnis
			| 