extends ../templates/layout
block title-const
	- const title = "Filmtitelspiel"
block main
	article#filmtitelspiel1
		p
			| 
			b.inline-title Filmtitelspiel 1.
			|   Man kaufe ein Vokabelheft und treibe Titel, Untertitel etc der laufenden Kinoprogramme zu leidlich passenden Paaren; Beispiel aus Raum Wien / Zeit der Exporteurreise:
		p
			| Der verkaufte Großvater Nackt jeden Abend
		p
			| Wenn du noch eine Mutter hast Warte, bis es dunkel ist
		p
			| Hemmungslose Manon Pudelnackt in Oberbayern
		p
			| Tödliche Tiefen Die Wirtin von der Lahn
		p
			| Sturm auf Höhe 404 Die Försterchristl
		p
			| Das Forsthaus in Tirol Stundenhotel (hüllenlos
		p
			| und frivol)
		p
			| Das Mädchen vom Pfarrhof Willst du ewig Jungfrau
		p
			| bleiben?
		p
			| Kohlhiesels Töchter Geißeln der Erotik
		p
			| Mariandls Heimkehr Hilfe, die Schwedinnen
		p
			| kommen (sexbesessen
		p
			| und busenfroh!)
		p
			| Wenn am Sonntagabend die Versuchs doch mal mit
		p
			| Dorfmusik spielt meiner Frau!
		p
			| Wenn die Alpenrosen blühen Erotik am Abgrund
		p
			| Wenn die Musik spielt am So badet die Welt —
		p
			| Wörther See Komisches,
		p
			| Wissenswertes, Nacktes!
		p
			| Das blaue Meer und du Gunther Sachs in Tahiti.
		p
			| Tierstudie in Farben.
		p
			| Klimaanlage vorhanden.
		p
			| Aeneas—der Held von Troja Dido, Wien 
			span.small-caps Iv
			| ., wegen
		p
			| Umbaues geschlossen
		p
			| Dr. Schiwago, 88. Woche Angelique, 88. Teil
		p
			| Liebe 1—1000 Der lange Tag der Rache
		p
			| Hochzeitsnacht vor Zeugen Nur noch 72 Stunden
		p
			| 69 Liebesspiele 2 Särge auf Bestellung
		p
			| Drei grüne Hunde Leitfaden für Seitensprünge
		p
			| Schwarze Sporen Ich bin neugierig
		p
			| Vom Haß getrieben Brautzeit und Ehe (jeder 1000. Besucher erhält
		p
			| wertv. Buch!)
		p
			| Sex in der Ehe Perversion
		p
			| Das Bett und die Kerzen
		p
			| (zwei Körper — füreinander
		p
			| geschaffen– geben sich alles!) Dreck und Tod in 20
		p
			| Stunden
		p
			| Ohne Dollars kein Sarg Tagebuch einer Frauen-
		p
			| ärztin
		p
			| Der große Postraub Sex aus Schweden
		p
			| Helga (aus der Intimsphäre einer
		p
			| jungen Frau) Nackt unter Affen
		p
			| Das Insektenweib 
			span.small-caps Ddt
			| 
		p
			| Das Folterhaus der Lady Morgan Der nächste Herr – dieselbe
		p
			| Dame
		p
			| Erpressung durch Scorpio Schönheit der körperlichen
		p
			| Liebe
		p
			| Brutale Lust Frühjahrskonzert der
		p
			| niederösterr.Tonkünstler
		p
			| Cosa Nostra — Erzfeind des 
			span.small-caps Fbi
			|  Sie treffen sich, sie lieben sich
		p
			| Batman hält die Welt in Atem Der Tölpel vom Dienst
		p
			| Panzerspähtrupp Totenkopf Mein Körper für ein
		p
			| Pokerspiel
		p
			| Das Paradies der flotten Sünder Schnellboote vor Bataan
		p
			| Katanga Ich habe Lust (nur heute!)
		p
			| Krach mit der Kompanie Sie möchte immer wieder
		p
			| Die letzte Kompanie Das Geheimnis der jungen
		p
			| Witwen
		p
			| Hölle auf Okinawa Das Wunder der Liebe
		p
			| Brennt Paris? Knusprige Leichen mit
		p
			| Sex-Appeal
		p
			| Moskau brennt Tagebuch der Lust —
		p
			| (wg. d. gr. Erfolges 3. Woche) Mädchen in ungezähmter
		p
			| Erotik
		p
			| Pulver und Blei Das heilige Erbe
		p
			| Ich spreng euch alle in die Luft Das hab ich von Papa gelernt
		p
			| Kampfgeschwader Totenkopf Mach mich kalt – ich friere!
		p
			| Stirb aufrecht, Schurke! Dieser Film vermittelt ein
		p
			| unbekanntes Lustgefühl
		p
			| Fantomas bedroht die Welt Heute letzter Tag Sex und
		p
			| nackte Frauen!
	article#filmtitelspiel-2
		p
			| 
			b.inline-title Filmtitelspiel 2.
			|  Man entdecke hinter den Titeln der laufenden Kinoprogramme die Rezepturen und führe so das Viele auf ein Weniges zurück. Beispiel aus Raum Wien / Zeit der Exporteurreise:
		p
			| • Tu den Tiger in den Titel:
		p
			| Flagge des Tigers
		p
			| Der Tiger von Sadres
		p
			| Der Tiger parfumiert sich mit Dynamit
		p
			| • Tu den Panther in den Titel:
		p
			| Drei blaue Panther
		p
			| Gungala—die nackte Pantherin
		p
			| • Tu den Tierfang in den Titel:
		p
			| Die Falle von Singapur
		p
			| 100 Bandidos in der Falle
		p
			| Frauen als Köder für 
			span.small-caps Cd
			|  7
		p
			| Kommissar X: Jagd auf Unbekannt
		p
			| Bob Fleming hetzt Professor G.
		p
			| • Tu den Teufel in den Titel:
		p
			| Engel des Satans Engel der Hölle
		p
			| Vorposten zur Hölle
		p
			| Hölle auf Okinawa
		p
			| In Montana ist die Hölle los
		p
			| In Colorado ist der Teufel los
		p
			| Der Anwalt des Teufels
		p
			| Das Teufelsweib von Texas
		p
			| Sumuru — die Tochter des Satans
		p
			| Die Verfluchten
		p
			| • Tu den Tod in den Titel:
		p
			| Dreck und Tod in 20 Stunden
		p
			| Der Tod fliegt nach Jamaica
		p
			| Der Tod eines Killers
		p
			| Django tötet leise
		p
			| U 23 — tödliche Tiefen
		p
			| Kampfgeschwader Totenkopf
		p
			| Panzerspähtrupp Totenkopf
		p
			| Stirb aufrecht, Schurke!
		p
			| Karate Killer
		p
			| Mach mich kalt, ich friere
		p
			| • Tu Todesarten in den Titel:
		p
			| Keinen Cent für Ringos Kopf
		p
			| Ritt zum Galgenbaum
		p
			| Hängen sollst du in Wyoming
		p
			| Der Mann mit den goldenen Colts
		p
			| Heiße Colts in harten Fäusten
		p
			| Treffpunkt für zwei Pistolen
		p
			| Serenade für zwei Pistolen
		p
			| Duell der Gringos
		p
			| Sechs Kugeln für Gringo
		p
			| Für eine Handvoll Blei
		p
			| Pulver und Blei
		p
			| Pulverdampf ist kein Parfum
		p
			| Gewehre zum Apachenpaß
		p
			| Der Tiger parfumiert sich mit Dynamit
		p
			| Ich spreng euch alle in die Luft
		p
			| • Tu die Särge in den Titel:
		p
			| Lucky M. füllt alle Särge
		p
			| Zwei Särge auf Bestellung
		p
			| Ohne Dollars kein Sarg
		p
			| • Tu Haß und Rache in den Titel:
		p
			| Vom Haß getrieben
		p
			| Die Rache des Mexikaners
		p
			| Der lange Tag der Rache
		p
			| • Tu die Fäuste in den Titel:
		p
			| Heiße Colts in harten Fäusten
		p
			| Der Titan mit der eisernen Faust
		p
			| Das rote Phantom schlägt zu
		p
			| Zwei schlagen zurück
		p
			| • Tu das Blut in den Titel:
		p
			| An seinen Stiefeln klebte Blut
		p
			| 10.000 blutige Dollar
		p
			| Das Geheimnis der blutigen Perlen
		p
			| Im Schloß der blutigen Begierde
		p
			| • Tu die Ziffern in den Titel:
		p
			| Zwei schlagen zurück
		p
			| Drei grüne Hunde
		p
			| Drei blaue Panther
		p
			| Die vier vom Amazonas
		p
			| Die gefürchteten Vier
		p
			| Die fünf Vogelfreien
		p
			| Fünf gegen Casablanca
		p
			| Sieben gegen Chicago
		p
			| 100 Bandidos in der Falle
		p
			| 10.000 blutige Dollar
		p
			| Etcetc.
	article#filmtitelspiel-3
		p
			| 
			b.inline-title Filmtitelspiel 3.
			|  Man verfahre mit Titeln der laufenden Kinoprogramme nach Belieben. Wer Wert darauf legt, daß dieser Roman naturalistisch ausfalle, überdehne das Verfahren nicht maßlos. Wer keinen Wert auf getreue Proportionen legt, schließe hier ruhig eine ganze Dissertation ein.
