extends ../templates/layout
block title-const
	- const title = "Flotte"
block main
	#flotte
		div
			| 
			.inline-title Flotte.
			|  → 
			a(href="gelbe-schenken.html#gelbe-schenken-4") Gelbe Schenken 4
			| 
