extends ../templates/layout
block main
	- const title = "Geschäftsbeziehung"
	h1= title
	#geschaeftsbeziehung
		div
			| 
			b Geschäftsbeziehung.
			|  Chemiekaufmann J. liebt Geschäftsbeziehungen. Denn denen zuzurechnen ist auch die Beziehung zum Geschäft, und Geschäftsbeziehungen, wie gesagt, liebt er.
		.indent
			| Dies ist nur einer seiner Exporteurgedanken, aber der zwingt ihn, Exporteurgedanken zu haben, also neben diesem auch weitere.
		.indent
			| Die weiteren Exporteurgedanken streuen wir gelegentlich beim Lesen ein. Man nehme einen Zettel, beschrifte ihn »→ 
			a(href="exporteurgedanken.html") Exporteurgedanken
			| !« und lege ihn zur fallweisen Verwendung rechts oder links neben das Buch.
