extends ../templates/layout
block title-const
	- const title = "Herrenjournal"
block main
	#herrenjournal
		div
			| 
			b.inline-title Herrenjournal.
			|  → 
			a(href="annie.html") Annie
			| , → 
			a(href="arnica.html") Arnica
			| , → 
			a(href="b-oe.html") B. Ø.
			| , → 
			a(href="die-heterogene.html") Die Heterogene
			| , → 
			a(href="die-mit-den-schlafaugen.html") Die mit den Schlafaugen
			| , → 
			a(href="die-mit-der-tulpe.html") Die mit der Tulpe
			| , → 
			a(href="die-rote-im-roten-trikot-mit-rotem-popo.html") Die Rote im roten Trikot mit rotem Popo
			| , → 
			a(href="hawaiimaedchen.html") Hawaiimädchen
			| , → 
			a(href="liddy.html") Liddy
			| , → 
			a(href="mary-mcpee.html") Mary McPee
			| , → 
			a(href="m-d-d.html") M. d. D.
			| , → 
			a(href="m-s.html") M. S.
			| 
