extends ../templates/layout
block title-const
	- const title = "Ingenieur"
block main
	#ingenieur-1
		div
			| 
			b Ingenieur 1.
			|  → 
			a(href="lollo.html") Lollo
			| .
	#ingenieur-2
		div
			| 
			b Ingenieur 2.
			|  → 
			a(href="cp.html") CP
			| .
	#ingenieur-3
		div
			| 
			b Ingenieur 3.
			|  → 
			a(href="gemeindebauten.html#gemeindebauten-9") Gemeindebauten 9
			| .
	#ingenieur-4
		div
			| 
			b Ingenieur 4.
			|  (Mutter und Kind:) »Essen kommen!«—»Essen mag ich nicht.«
		.indent
			| Der Ingenieur sagt, er habe eine Weile gebraucht, um draufzukommen, daß von Nahrungsaufnahme und nicht von heranzottelnden Schmiedeöfen die Rede war; nach dieser Erleuchtung sei ihm wie dem Betrachter jener perspektivisch gezeichneten Schachtel gewesen, die sich durch ; Änderung der Blickfixation zusehends umstülpt.
	#ingenieur-5
		div
			| 
			b Ingenieur 5.
			|  Kommen Sie, sagt der Ingenieur, gehn wir auf die Suche nach rechten Winkeln.
	#ingenieur-6
		div
			| 
			b Ingenieur 6.
			|  Gnädige Frau, ich meine so:, sagt Chemiekaufmann J. zur Ingenieurs-Margit; wenn die bodenlange Mode wiederkommt, an der ich mich schon einmal als Zwanzigjähriger sattgesehen habe, wird es ganz lustig sein. Aber substantiell ist die Minimode ungemein reicher.
		.indent
			| Wie meinen Sie das genau?, fragt der Ingenieur.
		.indent
			| Er meint, dolmetscht die Ingenieurs-Margit einfühlungsstark, in langen Kleidern stellen wir einen Gag zur Schau oder, sagen wir, schönen Stoff, für den natürlich auch Männer immer eine Schwäche haben; aber über das, was wir im Mini offenbaren, läßt sich viel spezieller meditieren als über die banale Quizfrage, was wohl der Osterhase unter unserer langen Robe versteckt hat.
		.indent
			| Genau. Die Wirklichkeit ist viel schöner als die verdorbenste Phantasie, bestätigt J.
		.indent
			| Danke, lacht Margit kätzisch.
	#ingenieur-7
		div
			| 
			b Ingenieur 7.
			|  Kennen Sie eigentlich einen → 
			a(href="ing-pozzi.html") Ing. Pozzi
			| ?, fragt der Ingenieur. Und ob!, sagt Chemiekaufmann J. Ein reizender Mensch, nicht wahr?, sagt die Ingenieursgattin; och, ich habe Italiener überhaupt so gern! Leise, gnä Frau, sagt Chemiekaufmann J., der Mann dort drüben ist ein → 
			a(href="dynamit-attentaeter.html") Dynamit-Attentäter
			| . Och, meinen Sie das im Ernst?, haucht die Ingenieursgattin und kratzt ihn mit einem Blick voll unternehmungslustiger Krähenfüße.
