extends ../templates/layout

mixin listItems(startIndex, endIndex)
	ol(start=startIndex + 1)
		- for (var i = startIndex; i < endIndex; i++)
			- const itemTitle = keys[i]
			- const item = list[itemTitle]
			li
				a(href=item.address)= itemTitle

block page-vars
	- const progressTitle = "Garage"
	- const progressIndex = list[progressTitle].index
	- const progressPercents = (progressIndex / keys.length * 100).toFixed(2)
	- const title = "Inhaltsverzeichnis"

block main
	article#inhaltsverzeichnis
		+listItems(0, progressIndex)
		article#bearbeitungsfortschritt= `Bearbeitungsfortschritt: ${progressPercents}%`
		+listItems(progressIndex, keys.length)