extends ../templates/layout

mixin listItems(startIndex, endIndex)
	ol(start=startIndex + 1)
		- for (var i = startIndex; i < endIndex; i++)
			- const itemTitle = keys[i]
			- const item = list[itemTitle]
			li
				a(href=item.address)= itemTitle

block main
	- const progressIndex = 34
	- const title = "Inhaltsverzeichnis"
	h1= title
	#inhaltsverzeichnis
		+listItems(0, progressIndex)
		#bearbeitungsfortschritt Bearbeitungsfortschritt
		+listItems(progressIndex, keys.length)