extends ../templates/layout
block main
	h1 Joyce
	#joyce
		div
			| 
			b Joyce.
			|  Ist der Tag, der meine sentimentale Reise einschließt, ein Abklatsch des Bloom-Tages? Nein. Meine Sekunden sind nicht die Sekunden des Denkkontinuums, sondern Blickund Blindsekunden eines Weltmodell-Diskontinuums. (Einbekenntnis der Kleinheit meines Weltmodells: → 
			a(href="gebrauchsanweisung.html") Gebrauchsanweisung
			| .) Darum auch ist der innere Monolog nur sparsam angewandt und die angebliche Sünde des Allwissendspielens und Ex-machina-Tretens freigebig begangen. (→ 
			a(href="allwissender-erzaehler.html") Allwissender Erzähler
			| .)
		.indent
			| → 
			a(href="inhaltsverzeichnis.html") Inhaltsverzeichnis
			| 