extends ../templates/layout
block title-const
	- const title = "Kinder des Weidendorfes"
block main
	article#kinder-des-weidendorfes
		p
			| 
			b.inline-title Kinder des Weidendorfes.
			|  Von den Kindern des Weidendorfes geht keines mit Hunden. Jermilka, Jessica und Jentchen beschließen, Katzenfreundinnen zu werden. Der unglückliche kleine Emil Ettlow aber hält sich ein → 
			a(href="eichhoernchen.html") Eichhörnchen
			| .
