extends ../templates/layout
block page-vars
  - const title = "Kinder des Weidendorfes"
block main
  article#kinder-des-weidendorfes
    p
      | 
      .inline-title Kinder des Weidendorfes.
      |  Von den Kindern des Weidendorfes geht keines mit Hunden. Jermilka, Jessica und Jentchen beschließen, Katzenfreundinnen zu werden. Der unglückliche kleine Emil Ettlow aber hält sich ein → 
      a(href="eichhoernchen.html") Eichhörnchen
      | .
