extends ../templates/layout
block main
	- const title = "Kinder des Weidendorfes"
	h1= title
	#kinder-des-weidendorfes
		div
			| 
			b Kinder des Weidendorfes.
			|  Von den Kindern des Weidendorfes geht keines mit Hunden. Jermilka, Jessica und Jentchen beschließen, Katzenfreundinnen zu werden. Der unglückliche kleine Emil Ettlow aber hält sich ein → 
			a(href="eichhoernchen.html") Eichhörnchen
			| .
