extends ../templates/layout
block title-const
	- const title = "Kinderaufsicht"
block main
	#kinderaufsicht
		div
			| 
			.inline-title Kinderaufsicht.
			|  Robert, komm her, geh zum Papa abwischen.
		.indent
			| Krause Brillenkinder, sich fortwährend umständlich Jäckchen an- und ausziehend.
		.indent
			| Mageres kränkliches Frauchen, mit schlaffhängendem weißem Gehäkel über tintenblauem Kleid, sogar das sichtbare Nackt ober den Strümpfen wie fade Milchspeise; trenzt raunzige dünne Verbote.
		.indent
			| Kinder rennen einander um einen der Mittelpfeiler nach. Ur-Erlebnis: rotieren, schwindlig werden, Übelkeit speichern, nicht brechen können.
		.indent
			| Kleines Scherzfragen-Mädchen: Warum ist die Butter fett? — Daß beim Aufstreichen nicht quietscht.
		.indent
			| Mutter sagt: Bleib da. Papa kommt gleich. Bub sagt: Wurscht Wurscht, Wurscht. Vater kommt zurück. Mutter sagt: Es hat sich nichts begeben. Bub sagt: Wurscht, Wurscht, Wurscht. Mutter sagt: Er hätt dir fast den Wein austrunken.
		.indent
			| Dann tun wir uns spielen, dann schlafen wir, dann tun wir essen. Dann spielen wir mit meinen drei tütütü. Der-Papamuß-mir-den-Pappendeckel-picken.
		.indent
			| Der arme Kinderzeitungs-Pinguin. Weil sein Schwesterl so schlimm war wie du. »Mit den großen Ruderfüßen / sieht man ihn für Margit büßen.«
		.indent
			| 
			span.small-caps Nein
			|  ist ein Wort, das Kinder sehr beeindruckt.
		.indent
			| Robert, komm her, geh zur Mama schneuzen.
