extends ../templates/layout
block main
	- const title = "Komposition"
	h1= title
	#komposition
		div
			| 
			b Komposition.
			|  Hiermit bestätige ich, daß auch dieser Roman eine Ordnung hat. Es ist nicht die Ordnung der Sinfonia, sondern der Jam session. Zur Herstellung des Wissenszustandes, wieweit die Ordnung der Jam session von jener des Entropiezieles abweicht, befrage man sanftmütige Jazz-Interpreten.
