extends ../templates/layout
block title-const
	- const title = "Kopftuch"
block main
	#kopftuch
		div
			| 
			b.inline-title Kopftuch.
			|  Übung: ausscherende Denkbewegung
		.indent
			| von
		.indent
			| 
			span.small-caps Jahrmarkt
			|  (Umfeld probeweise selbst basteln)
		.indent
			| in Kopftuchköpfen gedachten Gedanken (probeweise selbst denken).
