extends ../templates/layout
block main
	h1 Kopftuch
	#kopftuch
		div
			| 
			b Kopftuch.
			|  Übung: ausscherende Denkbewegung
		.indent
			| von
		.indent
			| 
			span.small-caps Jahrmarkt
			|  (Umfeld probeweise selbst basteln)
		.indent
			| in Kopftuchköpfen gedachten Gedanken (probeweise selbst denken).
		.indent
			| → 
			a(href="inhaltsverzeichnis.html") Inhaltsverzeichnis
			| 