extends ../templates/layout
block page-vars
  - const title = "Kopftuch"
block main
  article#kopftuch
    p
      | 
      .inline-title Kopftuch.
      |  Übung: ausscherende Denkbewegung
    p
      | von
    p
      | 
      span.small-caps Jahrmarkt
      |  (Umfeld probeweise selbst basteln)
    p
      | in Kopftuchköpfen gedachten Gedanken (probeweise selbst denken).
