extends ../templates/layout
block page-vars
  - const title = "Kunststoffliebe"
block main
  article#kunststoffliebe
    p
      | 
      .inline-title Kunststoffliebe
      |  habe ich schon 20 Jahre vor dem Poprummel gefühlt, dem ich für sein Bekenntnis zu den Gegebenheiten der modernen Umwelt onkelig verbunden bin. 1943, mit 13, wollte ich mir im Garten eine Höhle aus bunten Kunststoffen bauen, und 1950 schrieb ich
    p
      | Eins freilich: Marjorie
    p
      | saß, blaue Blumen in ihrem Kleid,
    p
      | blaue Blumen um sich im Gras,
    p
      | und saß gestern und saß heute.
    p
      | Blaue Blumen aus Plexiglas.
    p
      | Wenn das erste Flugzeug aus rotem Kunststoff aufsteigt, werde ich jubeln (aber das wird in einem Frühling sein).
