extends ../templates/layout
block title-const
	- const title = "Lokalisation"
block main
	#lokalisation
		div
			| 
			b Lokalisation.
			|  Lokalisation.
		.indent
			| • 
			span.small-caps Funktionen Der Objekte
			| :
		.indent
			| umschließt
		.indent
			| die einst einen wehrhaften Ring um das Land schlossen
		.indent
			| blühend umgibt
		.indent
			| zeichnet sich aus
		.indent
			| ist seit jeher
		.indent
			| wird immer in angenehmer Erinnerung bleiben
		.indent
			| bringt es mit sich
		.indent
			| den Wanderer laden ein
		.indent
			| bieten Gelegenheit
		.indent
			| hat den besten Ruf in aller Welt
		.indent
			| den kunstbegeisterten Reisenden laden zum Besuche ein
		.indent
			| sind Zeugen einer fast zweitausendjährigen
		.indent
			| lädt zum Besuche ein
		.indent
			| • 
			span.small-caps Funktionen Des Reisenden
			| :
		.indent
			| ein beliebtes Ausflugsgebiet
		.indent
			| Erholungsgebiet
		.indent
			| ob man nun . . . oder
		.indent
			| sonntäglicher Spaziergang
		.indent
			| durch den Wald
		.indent
			| Wochenendausflug unternimmt
		.indent
			| geruhsamen Urlaub verbringt
		.indent
			| ein Aufenthalt in
		.indent
			| daß jeder Gast etwas findet
		.indent
			| einen wirklich erholsamen Urlaub verbringen
		.indent
			| findet der anspruchsvolle Gast
		.indent
			| nach schönen Touren
		.indent
			| der Erholungssuchende findet Ruhe und Erholung
		.indent
			| genießen
		.indent
			| • 
			span.small-caps Eigenschaften Der Objekte
			| :
		.indent
			| reiche Vielfalt landschaftlicher Schönheiten
		.indent
			| die Vielseitigkeit der Landschaft
		.indent
			| das Land der vielseitigen Naturschönheiten
		.indent
			| rebenumkränzte Wachau
		.indent
			| in waldiger Einsamkeit
		.indent
			| in traulichen Orten
		.indent
			| zwischen sonnigen Weinbergen
		.indent
			| in reizenden Städtchen
		.indent
			| wo man bereits die unendliche Weite erahnen kann
		.indent
			| die schlichten gotischen Kirchen
		.indent
			| die prunkvollen barocken Stifte
		.indent
			| herrlichen Stifte
		.indent
			| • 
			span.small-caps Kundendienst Der Objekte
			| :
		.indent
			| in erstklassigen Hotels
		.indent
			| jeden Luxus und jede Bequemlichkeit
		.indent
			| gemütliche Schutzhäuser
		.indent
			| behaglichen Gasthöfen und Pensionen
		.indent
			| zur Erzielung vorzüglicher Heilerfolge und Erholung
		.indent
			| in vielen gemütlichen Heurigenschenken
		.indent
			| zu einer guten Küche
		.indent
			| einen guten Tropfen des edlen Rebensaftes
		.indent
			| unzählige kunstgeschichtliche Kostbarkeiten
		.indent
			| die zahlreichen mittelalterlichen Burgruinen
		.indent
			| • 
			span.small-caps Zusammenfassung
			| :
		.indent
			| nicht zuletzt
		.indent
			| längst erprobt
		.indent
			| mit seinem vielgerühmten
		.indent
			| ärztlich anerkannt
		.indent
			| (Auszug aus einem Prospekt des Landesverkehrsamtes
		.indent
			| Niederösterreich.)
