extends ../templates/layout
block page-vars
  - const title = "Lokalisation"
block main
  article#lokalisation
    p
      | 
      span.inline-title Lokalisation.
      |  Lokalisation.
    p
      | • 
      span.small-caps Funktionen Der Objekte
      | :
    p
      | umschließt
    p
      | die einst einen wehrhaften Ring um das Land schlossen
    p
      | blühend umgibt
    p
      | zeichnet sich aus
    p
      | ist seit jeher
    p
      | wird immer in angenehmer Erinnerung bleiben
    p
      | bringt es mit sich
    p
      | den Wanderer laden ein
    p
      | bieten Gelegenheit
    p
      | hat den besten Ruf in aller Welt
    p
      | den kunstbegeisterten Reisenden laden zum Besuche ein
    p
      | sind Zeugen einer fast zweitausendjährigen
    p
      | lädt zum Besuche ein
    p
      | • 
      span.small-caps Funktionen Des Reisenden
      | :
    p
      | ein beliebtes Ausflugsgebiet
    p
      | Erholungsgebiet
    p
      | ob man nun . . . oder
    p
      | sonntäglicher Spaziergang
    p
      | durch den Wald
    p
      | Wochenendausflug unternimmt
    p
      | geruhsamen Urlaub verbringt
    p
      | ein Aufenthalt in
    p
      | daß jeder Gast etwas findet
    p
      | einen wirklich erholsamen Urlaub verbringen
    p
      | findet der anspruchsvolle Gast
    p
      | nach schönen Touren
    p
      | der Erholungssuchende findet Ruhe und Erholung
    p
      | genießen
    p
      | • 
      span.small-caps Eigenschaften Der Objekte
      | :
    p
      | reiche Vielfalt landschaftlicher Schönheiten
    p
      | die Vielseitigkeit der Landschaft
    p
      | das Land der vielseitigen Naturschönheiten
    p
      | rebenumkränzte Wachau
    p
      | in waldiger Einsamkeit
    p
      | in traulichen Orten
    p
      | zwischen sonnigen Weinbergen
    p
      | in reizenden Städtchen
    p
      | wo man bereits die unendliche Weite erahnen kann
    p
      | die schlichten gotischen Kirchen
    p
      | die prunkvollen barocken Stifte
    p
      | herrlichen Stifte
    p
      | • 
      span.small-caps Kundendienst Der Objekte
      | :
    p
      | in erstklassigen Hotels
    p
      | jeden Luxus und jede Bequemlichkeit
    p
      | gemütliche Schutzhäuser
    p
      | behaglichen Gasthöfen und Pensionen
    p
      | zur Erzielung vorzüglicher Heilerfolge und Erholung
    p
      | in vielen gemütlichen Heurigenschenken
    p
      | zu einer guten Küche
    p
      | einen guten Tropfen des edlen Rebensaftes
    p
      | unzählige kunstgeschichtliche Kostbarkeiten
    p
      | die zahlreichen mittelalterlichen Burgruinen
    p
      | • 
      span.small-caps Zusammenfassung
      | :
    p
      | nicht zuletzt
    p
      | längst erprobt
    p
      | mit seinem vielgerühmten
    p
      | ärztlich anerkannt
    p
      | (Auszug aus einem Prospekt des Landesverkehrsamtes
    p
      | Niederösterreich.)
