extends ../templates/layout
block title-const
	- const title = "Lollo"
block main
	#lollo
		div
			| 
			b.inline-title Lollo.
			|  Erschütternd, wie die Zeit dahinfließt, jammert der Ingenieur. Erinnern Sie sich noch an »Liebe, Brot und Phantasie«? Ich seh die Lollo vor mir, als wärs gestern gewesen. Und heute haben wir die Twiggie, diesen verhungerten Heuhüpfer, und ich wette, in fünf Jahren, wenn Sie junge Leute fragen, was sie von Kurven halten, werden sie todernst von Hyperbeln und Parabeln reden; und bei 
			span.small-caps Lollo
			|  werden sie herumrechnen und sagen, das bedeutet in der Computersprache zweiundzwanzig.
		.indent
			| (Anmerkung fürs → 
			a(href="cp.html") CP
			| : Die Eins des Dualsystems wird statt mit I mit L → 
			a(href="umschrieben.html") umschrieben
			| ; die binary digits
		.indent
			| Eins Null Eins Eins Null
		.indent
			| aber bedeuten
