extends ../templates/layout
block page-vars
	- const title = "Marktkundliches"
block main
	article#marktkundliches
		p
			| 
			b.inline-title Marktkundliches.
			|  Die Lehre von Marktforschung und Marktbeeinflussung ist ein auf meine Aufmerksamkeit gerichteter Hufeisenmagnet. Sein Scheitelpunkt, an dem man sich gesundstoßen kann, liegt mir fern. Aber seine psycho-/soziologischen Pol-Enden, das abstoßende und das anziehende, wirken aus nächster Nähe auf mich.
		p
			| Das abstoßende:
		p
			| • Filterung der Menschen nach Wohlstandsgraden
		p
			| • Hab- und Prahlgierverseuchung der Beziehungen
		p
			| • universelle, permanente Druckausübung
		p
			| • Gleichschaltung der Images und Wünsche
		p
			| • Weckung unnötiger Unzufriedenheit
		p
			| • Weckung unberechtigter Selbstzufriedenheit
		p
			| • Förderung der Rückbildung des Denkens
		p
			| • Verschwendung der terrestren Vorräte etcetc
		p
			| Das anziehende:
		p
			| • Die einschmeichelnde Lehre der Motivalchemisten, daß man
		p
			| im Kauf Persönlichkeit bewähren,
		p
			| • sich trösten,
		p
			| • daß man käufliche Dinge liebhaben kann.
		p
			| Die Motivanalyse ist kapitalistische Inquisition.
		p
			| Die Motivanalyse kommt einer Fetischanalyse nahe.
		p
			| Die Motivanalyse kommt einer Poetik des Dinglichen nahe.
