extends ../templates/layout
block page-vars
  - const title = "Maturanten"
block main
  article#maturanten-1
    p
      | 
      span.inline-title Maturanten 1.
      |  Zwei Maturanten wollten Pharmakologie studieren; das inspirierte sie, »Gesetzt den Fall . . .« aus dem »Bettelstudenten« mit neuem Text zu singen:
    p
      | Ein junger Mensch, der seine Frau vergiften will,
    p
      | ein junger Mensch mit solchem Ziel ist meistens still .....
  article#maturanten-2
    p
      | 
      span.inline-title Maturanten 2.
      |  Zwei Maturanten wollten Theologie studieren; im Moment aber sangen sie noch das Lied des Eunuchen:
    p
      | Ich möchte dich afrika, aber womit,
    p
      | ich möchte dich paprika, aber womit,
    p
      | ich möchte dich klosterspaß, aber womit,
    p
      | ich möchte dich osterhas, aber womit . . .
  article#maturanten-3
    p
      | 
      span.inline-title Maturanten 3.
      |  Zwei Maturanten wollten demnächst nach Berlin gehen; zur Übung sangen sie:
    p
      | Herr Bolle saacht dem Kolle
    p
      | »Ick such een Weib aus Wolle
    p
      | mit fernjelenkter Bluse«.
    p
      | Der Kolle saachts der Uhse.
  article#maturanten-4
    p
      | 
      span.inline-title Maturanten 4.
      |  Zwei Maturanten wollten Ägyptologen werden; das hinderte sie nicht, ein unbelegtes Isis-und-Osiris-Duett anzustimmen:
    p
      | Liebes Schwesterl,
    p
      | komm auf ein Inzesterl.
    p
      | Gerne, liebes Brüderchen,
    p
      | gleich bin ich dein Lüderchen.
