extends ../templates/layout
block title-const
	- const title = "Maturanten"
block main
	#maturanten-1
		div
			| 
			b.inline-title Maturanten 1.
			|  Zwei Maturanten wollten Pharmakologie studieren; das inspirierte sie, »Gesetzt den Fall . . .« aus dem »Bettelstudenten« mit neuem Text zu singen:
		.indent
			| Ein junger Mensch, der seine Frau vergiften will,
		.indent
			| ein junger Mensch mit solchem Ziel ist meistens still .....
	#maturanten-2
		div
			| 
			b.inline-title Maturanten 2.
			|  Zwei Maturanten wollten Theologie studieren; im Moment aber sangen sie noch das Lied des Eunuchen:
		.indent
			| Ich möchte dich afrika, aber womit,
		.indent
			| ich möchte dich paprika, aber womit,
		.indent
			| ich möchte dich klosterspaß, aber womit,
		.indent
			| ich möchte dich osterhas, aber womit . . .
	#maturanten-3
		div
			| 
			b.inline-title Maturanten 3.
			|  Zwei Maturanten wollten demnächst nach Berlin gehen; zur Übung sangen sie:
		.indent
			| Herr Bolle saacht dem Kolle
		.indent
			| »Ick such een Weib aus Wolle
		.indent
			| mit fernjelenkter Bluse«.
		.indent
			| Der Kolle saachts der Uhse.
	#maturanten-4
		div
			| 
			b.inline-title Maturanten 4.
			|  Zwei Maturanten wollten Ägyptologen werden; das hinderte sie nicht, ein unbelegtes Isis-und-Osiris-Duett anzustimmen:
		.indent
			| Liebes Schwesterl,
		.indent
			| komm auf ein Inzesterl.
		.indent
			| Gerne, liebes Brüderchen,
		.indent
			| gleich bin ich dein Lüderchen.
