extends ../templates/layout
block main
	h1 Melina Mercouri
	#melina-mercouri
		div
			| 
			b Melina Mercouri.
			|  Da dem Mimen die Nachwelt keine Kränze flicht, stelle ich — in Hoffnung auf das Überleben meines Buches — unserer Nachwelt folgende Daten über die Griechin zur Verfügung:
		.indent
			| • Geboren als Tochter eines Athener Politikers
		.indent
			| • Berühmt geworden als Prostituierte im Schwarz-Weiß
		.indent
			| Tonfilm »Sonntags nie...« und Sängerin des Hadjidakis-Liedes
		.indent
			| »Ein Schiff wird kommen« (top hit in den frühen 60er Jahren)
		.indent
			| • In einem Illustrierten-Report (der sie, eine jungverwitterte
		.indent
			| Krähe, grob lachend über Betten trampeln zeigte) mit der
		.indent
			| Liebe zu Geld und Schmuck als dem einzigen Hobby behaftet
		.indent
			| • Nach Errichtung der Diktatur in Griechenland aber durch-
		.indent
			| aus unökonomisch emigriert, um in Liedern, Reden und
		.indent
			| Demonstrationen für die Demokratie zu werben.
		.indent
			| (»Vom ersten Augenblick an«, heißt es nun, »ist der Besucher
		.indent
			| von zwei Eindrücken beherrscht: von der Echtheit und Auf
		.indent
			| richtigkeit dieser schönen Frau, die alles eher als ein Star ist
		.indent
			| und menschliche Wärme ausstrahlt, und von der Hingabe an
		.indent
			| ihre Sache, die die Sache des von der Militärjunta unter-
		.indent
			| drückten griechischen Volkes ist.«)
		.indent
			| • Zur näheren Information — auch über die Pfützen, die sie
		.indent
			| spiegelten—sei auf die einschlägige Presse der einschlägigen
		.indent
			| Jahre verwiesen.
		.indent
			| • Ihr Blick auf manchen Photos war wie geschmolzenes Zink.
