extends ../templates/layout
block main
	h1 Menschen
	#menschen
		div
			| 
			b Menschen.
			|  Die Anzüge, Weiberröcke, watschelnd, feiernd, eilend in mengenund gütemessende rauchtelephonische Büros, Glutbatzen-, Plätzchen-, Punzen-Werkstätten, Urinschulen, Krauthaushalte, Fahnenschwimmbäder, Chemiewurstausflüge, Besonderenheime, Wischfetzengasthäuser, Zukunftbetten, Zufallstode —
		.indent
			| drum winkt ihr mit Taschentüchern voll Lavendel, Wäschereinummern, Lippenrot, Dünnschnupfen, Zahnresten, Halbkindern, Bügelfalten, optischen Aufhellern
		.indent
			| allen nichtbrückentrampelnden, zB den Schiffs-, Menschen
		.indent
			| einen zutunlichen, neidischen Brückengruß,
		.indent
			| singt großschnabels aber leishals ein geöffnetes Lied, etwa:
		.indent
			| Überall ist Welt aufgerissen,
		.indent
			| überall, auch hier, ist Welt aufgerissen,
		.indent
			| überall liegt Menschenfleisch zutag,
		.indent
			| überall ist Verteilung, überall ist Wahl,
		.indent
			| überall Wegezwickel, -drickel,
		.indent
			| überall ist Antwort auf Schulschwänz-Erwartung,
		.indent
			| auf Plänelesen,
		.indent
			| überall ist eine Art Überall,
		.indent
			| Überfall,
		.indent
			| Sprungbrett in Schiffe, Übersetzung der Senkin die Waagrechte, Übertragung der Gehauf die Schraubentempi. Dies ist der Sinn des Mensch-, Esel-, Fischseins, dies ist der Brautunterricht noch der Greise.
		.indent
			| → 
			a(href="inhaltsverzeichnis.html") Inhaltsverzeichnis
			| 