extends ../templates/layout
block page-vars
  - const title = "Menschen"
block main
  article#menschen
    p
      | 
      .inline-title Menschen.
      |  Die Anzüge, Weiberröcke, watschelnd, feiernd, eilend in mengen- und gütemessende rauchtelephonische Büros, Glutbatzen-, Plätzchen-, Punzen-Werkstätten, Urinschulen, Krauthaushalte, Fahnenschwimmbäder, Chemiewurstausflüge, Besonderenheime, Wischfetzengasthäuser, Zukunftbetten, Zufallstode —
    p
      | drum winkt ihr mit Taschentüchern voll Lavendel, Wäschereinummern, Lippenrot, Dünnschnupfen, Zahnresten, Halbkindern, Bügelfalten, optischen Aufhellern
    p
      | allen nichtbrückentrampelnden, zB den Schiffs-, Menschen
    p
      | einen zutunlichen, neidischen Brückengruß,
    p
      | singt großschnabels aber leishals ein geöffnetes Lied, etwa:
    p
      | Überall ist Welt aufgerissen,
    p
      | überall, auch hier, ist Welt aufgerissen,
    p
      | überall liegt Menschenfleisch zutag,
    p
      | überall ist Verteilung, überall ist Wahl,
    p
      | überall Wegezwickel, -drickel,
    p
      | überall ist Antwort auf Schulschwänz-Erwartung,
    p
      | auf Plänelesen,
    p
      | überall ist eine Art Überall,
    p
      | Überfall,
    p
      | Sprungbrett in Schiffe, Übersetzung der Senkin die Waagrechte, Übertragung der Gehauf die Schraubentempi. Dies ist der Sinn des Mensch-, Esel-, Fischseins, dies ist der Brautunterricht noch der Greise.
