extends ../templates/layout
block page-vars
  - const title = "Molotow-Cocktail"
block main
  article#molotow-cocktail
    p
      | 
      span.inline-title Molotow-Cocktail.
      |  Ich liebe, sagte André Anarchique, MolotowCocktails mit Kalimetall-Zündung. Wasser setzt sie in Brand.
