extends ../templates/layout
block title-const
	- const title = "Molotow-Cocktail"
block main
	article#molotow-cocktail
		p
			| 
			b.inline-title Molotow-Cocktail.
			|  Ich liebe, sagte André Anarchique, MolotowCocktails mit Kalimetall-Zündung. Wasser setzt sie in Brand.
