extends ../templates/layout
block main
	h1 Molotow-Cocktail
	#molotow-cocktail
		div
			| 
			b Molotow-Cocktail.
			|  Ich liebe, sagte André Anarchique, MolotowCocktails mit Kalimetall-Zündung. Wasser setzt sie in Brand.
