extends ../templates/layout
block main
	- const title = "Molotow-Cocktail"
	h1= title
	#molotow-cocktail
		div
			| 
			b Molotow-Cocktail.
			|  Ich liebe, sagte André Anarchique, MolotowCocktails mit Kalimetall-Zündung. Wasser setzt sie in Brand.
