extends ../templates/layout
block title-const
	- const title = "Molotow-Cocktail"
block main
	#molotow-cocktail
		div
			| 
			b Molotow-Cocktail.
			|  Ich liebe, sagte André Anarchique, MolotowCocktails mit Kalimetall-Zündung. Wasser setzt sie in Brand.
