extends ../templates/layout
block main
	h1 Nachziehverfahren?
	#nachziehverfahren
		div
			| 
			b Nachziehverfahren?
			|  Daß ich trotz meiner, „außersprachlichen“ Althasenschaft mit der Assimilation „innersprachlicher“ bzw dadaogener Methoden nicht 1970 nachziehe, sondern schon 1950 befaßt war, als die Chronik noch mit Busta und Kießling schloß, die „Wiener Gruppe“ noch nicht bestand und die Revolte von uns Autoren der „neuen wege“ getragen wurde, zeigt ein stilanalytischer Blick in meine alten Gedichtbände und Manuskripte: ob ich darin nun von der statt dem Mai spreche, um seine Koromorphie zu betonen, ob ich die Syntax störe („Aber Sie haben ein schönes Tier, das Ihnen folgt / Tier Ihnen folgt“ oder „Der braune Steinbruch wird tagelang Kinder klettern“), ob ich Wörter zerbreche („Do you remem, Do you re-ber, Do you remember her“), Neologismen („Äcker gehackt vom unendlichen Holz Hark“) und wortgeborene Para-Tätigkeiten ausschütte („Sie schneiden Zeichen in die bartlosen Gesichter / Sie treiben rot / Sie sanden bis zu Salz“), ob ich wortspiele („Ist das eine grausige Phantasie? / Ist das ein Nachtmahr? / Nein, es ist die Dagmar“), lautmale („Nur Zink / das linkisch klappernde Zink / der Traufen / wird Tropfen / auf Tropfen / antworten“, es folgen vier Zeilen mit je einem punktförmigen Regentropfen), oder ob ich montiere, Werbesprüche und Musikgeräusche einblende. Zur Ergänzung seien drei unveröffentlichte Texte von 1951 zitiert, in denen ich den Wortschatz überhaupt verlasse:
		.indent
			| 28. 3. l951 („Aus meinem Dada“):
		.indent
			|        it Weites Land in der Kindheit, eine Autofahrt am frühen
		.indent
			|        Vormittag in der Nähe eines Hohlweges, in einer ganz
		.indent
			|        neuen Gegend
		.indent
			|        goch Ein andermal Lärmen der Zementfabriken. Das
		.indent
			|        Bewußtsein von Staub unmittelbarer als je seither.
		.indent
			|        Goch — später auch noch in Mischmaschinen eine
		.indent
			|        leise Ahnung davon
		.indent
			| 3.10. 1951 („Disharmonisierung“):
		.indent
			| eroubis
		.indent
			| petoukis
		.indent
			| limonsastris
		.indent
			| chipaquis
		.indent
			| stepalaxmis
		.indent
			| telathmis
		.indent
			| •
		.indent
			| evchiaa
		.indent
			| tevelthmaa
		.indent
			| idvelxmaa
		.indent
			| •
		.indent
			| monibigel
		.indent
			| •
		.indent
			| ostna -stna
		.indent
			| posus
		.indent
			| misblegma
		.indent
			| 26.12. l951 („Sommerlaubenlied“):
		.indent
			| m i
		.indent
			| it it t-it
		.indent
			| i t-it
		.indent
			| m, m, m, it
		.indent
			| m, ti, m, tit.
		.indent
			| l-i
		.indent
			| in in n-in
		.indent
			| i n-in
		.indent
			| m, m, m, it
		.indent
			| m, ti, m, tin.
		.indent
			| mo so lu du
		.indent
			| in m-u
		.indent
			| in, in, m, it
		.indent
			| m, ti, m, in, m, tit . . .
		.indent
			| — und eine Lautnotation vom 10.1.1952 abgebildet:
