extends ../templates/layout
block title-const
	- const title = "Nach dem Auftauchen der Auen"
block main
	#nach-dem-auftauchen-der-auen
		div
			| 
			b Nach dem Auftauchen der Auen
			|  wurde nicht so heiß gegessen wie gekocht. Kaum war die erste → 
			a(href="auen.html") Au
			|  (von nun an sind Auen im besonderen, also Auen 3, Auen 1 etc, aufzuschlagen) beschaut und verdaut, also um 8.03, konnte man frei auf die Uferstraße mit den Autos schauen und auf die auslaufenden nahen und die ferneren → 
			a(href="huegel.html") Hügel
			| .
		.indent
			| Auch dann wurde die Aulandschaft immer wieder durchbrochen: öfters wiederholte sich der Potemkinzauber von Pfahlhäusern der Bootssportkolonien (→ 
			a(href="paddelclub-haus.html") Paddelclub-Haus
			| ), dann und wann erschien noch ein Hügel, oder anderes (auf das wir rechtzeitig hinweisen werden), und oft auch wurde der Blick von Ereignissen auf dem Wasser angezogen. Fürs erste wähle man, die Zeit bis 8.10 füllend, je ein Beispiel von → 
			a(href="auen.html") Auen
			| , → 
			a(href="pfahlhaeuser.html") Pfahlhäusern
			|  und → 
			a(href="wasserereignisse.html") Wasserereignissen
			| . Sattgesehen, richte man seine Optik voraus, wo plötzlich (am jenseitigen Ufer des sich krümmenden Stromes) ein mächtiger schwarzer → 
			a(href="silo.html") Silo
			|  steht.
