extends ../templates/layout
block title-const
	- const title = "Nachworte"
block main
	#nachworte
		div
			| 
			b Nachworte.
			|  → 
			a(href="affirmative-dichtung.html") Affirmative Dichtung
			| , → 
			a(href="allwissender-erzaehler.html") Allwissender Erzähler
			| , → 
			a(href="arcimboldi.html") Arcimboldi
			| , → 
			a(href="barock.html") Barock
			| , → 
			a(href="begeisterung.html") Begeisterung
			| , → 
			a(href="begruendung-fuer-den-artikel-koerper.html") Begründung für den Artikel Körper
			| , → 
			a(href="deformation.html") Deformation
			| , → 
			a(href="dicke-leute.html") Dicke Leute
			| , → 
			a(href="eklektizismus.html") Eklektizismus
			| , → 
			a(href="erwartungsmuster.html") Erwartungsmuster
			| , → 
			a(href="fehlertoleranz.html") Fehlertoleranz
			| , → 
			a(href="feminismus.html") Feminismus
			| , → 
			a(href="f-erlebnis.html") F-Erlebnis
			| , → 
			a(href="fetischist.html") Fetischist
			| , → 
			a(href="freiheit-die-ich-meine.html") Freiheit, die ich meine
			| , → 
			a(href="geographie.html") Geographie
			| , → 
			a(href="joyce.html") Joyce
			| , → 
			a(href="kollaboration.html") Kollaboration
			| , → 
			a(href="koerper.html") Körper
			| , → 
			a(href="komposition.html") Komposition
			| , → 
			a(href="kulinarisch.html") Kulinarisch
			| , → 
			a(href="kunststoffliebe.html") Kunststoffliebe
			| , → 
			a(href="labyrinth.html") Labyrinth
			| , → 
			a(href="landschaft.html") Landschaft
			| , → 
			a(href="lexikonromane.html") Lexikonromane
			| , → 
			a(href="lokalisation.html") Lokalisation
			| , → 
			a(href="manipulation.html") Manipulation
			| , → 
			a(href="man-nehme.html") Man nehme
			| , → 
			a(href="marktkundliches.html") Marktkundliches
			| , → 
			a(href="motivsammlung.html") Motivsammlung
			| , → 
			a(href="mundart.html") Mundart
			| , → 
			a(href="nachziehverfahren.html") Nachziehverfahren?
			| , → 
			a(href="nouveau-roman.html") Nouveau roman
			| , → 
			a(href="ortsbestimmung.html") Ortsbestimmung
			| , → 
			a(href="politik.html") Politik
			| , → 
			a(href="pop-roman.html") Pop-Roman?
			| , → 
			a(href="realismus.html") Realismus
			| , → 
			a(href="saettigung.html") Sättigung
			| , → 
			a(href="sehnsucht.html") Sehnsucht
			| , → 
			a(href="sex.html") Sex
			| , → 
			a(href="spezifisches-gewicht.html") Spezifisches Gewicht
			| , → 
			a(href="spielregel.html") Spielregel
			| ,→ 
			a(href="susi--und-eiske-epilog.html") Susi- und Eiske-Epilog
			| , → 
			a(href="ulli-ergaenzungen.html") Ulli Ergänzungen
			| , → 
			a(href="zigarre.html#zigarre-3") Zigarre 3
			| .
