extends ../templates/layout
block page-vars
  - const title = "Pläne"
block main
  article#plaene
    p
      | 
      h2.inline-title Pläne.
      |  Die Pläne für das Holzklötzchenspiel umfassen, in all ihrer Weite und Vielfalt, folgende Freudewerttypen:
    p
      | O) Bildwert 00) Abbildung erlebter Gegenden (zB des Tränkenhügels,
    p
      | dessen Hang bekanntlich in späteren Träumen viel zu
    p
      | groß, jeder Halm so groß wie das Kind, und jede Kuhbreit
    p
      | voll verlorenheitbringender Weite, gesehen wird, also in
    p
      | vorchronistische Kindheitstiefen zurückweist) 01) Neubildung von Gegenden auf Grund von Wünschen
    p
      | (»Ich möchte so einen Krötenteich wie in N. B., aber auf
    p
      | dem Hang eines buntbekuhten Vulkanchens«) 02) Neubildung von Gegenden mittels Improvisation (dem
    p
      | Materialzufall oder Augenblickseinfall überlassen; so
    p
      | entstand die berühmte Hasen-Einfärbungs-Halle der
    p
      | Gänse-Fitta in Nord-Stiglic)
    p
      | l) Funktionswert 10) Abbildung erlebter Funktionswerte (zB des heimischen
    p
      | Wäscheschwemmens) 11) Neubildung von Funktionswerten auf Grund von Wün-
    p
      | schen (»Ich möchte zwischen der Mädchen- und der
    p
      | Bubenschule eine Ziegelei, damit Buben und Mädchen
    p
      | durch allerhand Unheimliches zueinanderlaufen
    p
      | müssen«) 12) Neubildung von Funktionswerten mittels Improvisation
    p
      | (»Was kann dieser runde Klotz hier auf der Schafwiese
    p
      | bedeuten? Ah!: ein Wasserbehälter mit lebenden Fischen
    p
      | für die Schafe.« »Geh, Encore, Schafe fressen doch keine
    p
      | Fische!« »Meine schon, Mytilla.«) 2) Episodenwert 20) Abbildung erlebter Episoden (»Das ist der Gendarm auf
    p
      | dem Motorrad, und das im Beiwagen ist sein Fräulein
    p
      | Nicolaides, und hier kommen sie an den Fluß, und da ist
    p
      | die Brücke, und plumps fliegen sie von der Brücke in den
    p
      | Fluß —«) 21) Neubildung von Episoden auf Grund von Wünschen
    p
      | (»Das ist unser Gärtner Jammrich, und jetzt mag er uns
    p
      | nicht mehr und kündigt, und hier kriegt er sein Lohn
    p
      | sackl, und jetzt geht er als Kuhmelker und hier ist die
    p
      | Kuh, und er fragt sie, darf ich dich melken, aber da gibt
    p
      | sie ihm — wumm! — einen Tritt mit den Hinterkeulen,
    p
      | und da ist schon das Rettungsauto, und das führt —
    p
      | tütü tütü — den armen Jammrich ins Spital, und da liegt
    p
      | er schon auf dem Operationstisch, und das da ist der
    p
      | Doktor, und das da ist das lange, lange Messer«) 22) Neubildung von Episoden mittels Improvisation (»Wieso
    p
      | liegt dieses kleine Mädchen im Eimer? Ah, das bist du,
    p
      | Mytilla, du bist ausgerutscht und platsch in den großen
    p
      | Eimer gefallen.« »Nein!!!, Encore; ich bin doch nicht so
    p
      | klein, daß ich im Eimer Platz hab. Aber du hast in dem
    p
      | kleinen Hund Platz! Schau: wau! wau! und schon ist der
    p
      | kleine Bub ganz drin in dem großen kleinen Hund;
    p
      | bäääh!, weint der kleine Encore im Hundebauch, hörst du
    p
      | ihn? bäääh!«)
    p
      | Einige wenige Beispiele für beliebte landschaftbauliche Besonderheiten: Auslaufen des Städtchens in die Ebene. Unterbrechen des Städtchens durch einen Anger mit Tümpel und vielen Tieren. Leichte Abkrümmung eines Gäßchens. Übergang von Pflasterzu Grasbüschelweg an der Peripherie des Städtchens. Ein durch das Städtchen sich windender Fluß mit 
      a.arrow(href="kamille.html") Kamille
      | , 
      a.arrow(href="mindel.html") Mindel
      |  und zwei Brücklein. Wäscheschwemmerinnen aus rundem buntem Holz. Holzvorräte, kuppelförmig aufgeschichtet. Eine Feldbahn mit Funkenflug in Haferfelder. Verteilung des Städtchens auf einige Bodenwellen. Verschiedene Licht- und Schattenverhältnisse beim Drüberhalten oder Drüberführen der Taschenlampe. Verwinkelungen (
      a.arrow(href="motive-fuer-die-freude-an-verwinkelungen.html") Motive für die Freude an Verwinkelungen
      | ), Aussehen des Städtchens nach Beschuß aus dem Stoppelrevolver.
