extends ../templates/layout
block title-const
	- const title = "Politik"
block main
	#politik
		div
			| 
			b Politik.
			|  Um Rätselraten zu sparen: Der Autor des Lexikonromans möchte eine Menschheit, die unter den Konditionen von 
			span.small-caps Liberte Egalite Fraternite
			|  bestandfähig ist, zum Sozialismus nicht geprügelt zu werden brauchte, in ihm die Individualität und alle anderen Wert- und Lustfaktoren höchst entwickeln könnte, keine Repression mehr kennt und alle Intelligenz an Stabilisierung und Intensivierung des Lebens wendet. Der Autor des Lexikonromans ist also
		.indent
			| • politisch unzufrieden,
		.indent
			| • » ungebildet,
		.indent
			| • » ungläubig,
		.indent
			| • » unentschlossen,
		.indent
			| • » unwirksam.
