extends ../templates/layout
block page-vars
  - const title = "Politik"
block main
  article#politik
    p
      | 
      h2.inline-title Politik.
      |  Um Rätselraten zu sparen: Der Autor des Lexikonromans möchte eine Menschheit, die unter den Konditionen von 
      span.small-caps Liberte Egalite Fraternite
      |  bestandfähig ist, zum Sozialismus nicht geprügelt zu werden brauchte, in ihm die Individualität und alle anderen Wert- und Lustfaktoren höchst entwickeln könnte, keine Repression mehr kennt und alle Intelligenz an Stabilisierung und Intensivierung des Lebens wendet. Der Autor des Lexikonromans ist also
    p
      | • politisch unzufrieden,
    p
      | • » ungebildet,
    p
      | • » ungläubig,
    p
      | • » unentschlossen,
    p
      | • » unwirksam.
