extends ../templates/layout
block main
	- const title = "Quenta Quebec"
	h1= title
	#quenta-quebec
		div
			| 
			b Quenta Quebec
			|  möchte nicht englisch oder französisch ausgesprochen werden wie die kanadische Stadt, sondern deutsch (Kwenta Kwebek) und mit der Betonung auf den ersten Silben ausgesprochen werden. Sie dankt recht schön für ihr Verständnis.
