extends ../templates/layout
block page-vars
  - const title = "Scharfer Hund"
block main
  article#scharfer-hund
    p
      | 
      span.inline-title Scharfer Hund.
      |  → 
      a(href="hundeschaerfer.html") Hundeschärfer
      | .
