extends ../templates/layout
block title-const
	- const title = "Scharfer Hund"
block main
	#scharfer-hund
		div
			| 
			b Scharfer Hund.
			|  → 
			a(href="hundeschaerfer.html") Hundeschärfer
			| .
