extends ../templates/layout
block page-vars
  - const title = "Scharfer Hund"
block main
  article#scharfer-hund
    p
      | 
      h2.inline-title Scharfer Hund.
      |  
      a.arrow(href="hundeschaerfer.html") Hundeschärfer
      | .
