extends ../templates/layout
block page-vars
  - const title = "Schlager"
block main
  article#schlager-1
    h2.inline-title Schlager 1.
    p
      |  Der dummböse Bill und die schlauschlechte Li,
    p
      | die machen dich fertig und wissen schon, wie;
    p
      | dein Bitten hilft wenig,
    p
      | da hilft nur Arsenik
    p
      | und eine geschmierte M. Pi.
  article#schlager-2
    h2.inline-title Schlager 2.
    p
      |  Durch Paris, da fließt die Elbe,
    p
      | und die Olga ist ein Biest,
    p
      | und die Elbe ist dieselbe,
    p
      | die auch durch die Wolga fließt.
    p
      | Und die Wolga ist die gelbe,
    p
      | die den Yangtsekiang begießt,
    p
      | und die Schwalbe liebt die Schwälbe
    p
      | wenn man sie mit Salbe schießt.
  article#schlager-3
    h2.inline-title Schlager 3.
    p
      |  In Indien werden die Witwen verbrannt, juchhe,
    p
      | in Hamburg, da bruzzelt der Elefant,
    p
      | da wird der Gesandte nach Bombay gesandt,
    p
      | und er sollte doch nach Tai-peh,
    p
      | juchhe, bombaidschi, juchhe.
