extends ../templates/layout
block title-const
	- const title = "Schlager"
block main
	#schlager-1
		div
			| 
			b.inline-title Schlager 1.
			|  Der dummböse Bill und die schlauschlechte Li,
		.indent
			| die machen dich fertig und wissen schon, wie;
		.indent
			| dein Bitten hilft wenig,
		.indent
			| da hilft nur Arsenik
		.indent
			| und eine geschmierte M. Pi.
	#schlager-2
		div
			| 
			b.inline-title Schlager 2.
			|  Durch Paris, da fließt die Elbe,
		.indent
			| und die Olga ist ein Biest,
		.indent
			| und die Elbe ist dieselbe,
		.indent
			| die auch durch die Wolga fließt.
		.indent
			| Und die Wolga ist die gelbe,
		.indent
			| die den Yangtsekiang begießt,
		.indent
			| und die Schwalbe liebt die Schwälbe
		.indent
			| wenn man sie mit Salbe schießt.
	#schlager-3
		div
			| 
			b.inline-title Schlager 3.
			|  In Indien werden die Witwen verbrannt, juchhe,
		.indent
			| in Hamburg, da bruzzelt der Elefant,
		.indent
			| da wird der Gesandte nach Bombay gesandt,
		.indent
			| und er sollte doch nach Tai-peh,
		.indent
			| juchhe, bombaidschi, juchhe.
