extends ../templates/layout
block title-const
	- const title = "Schweinchenrosig"
block main
	#schweinchenrosig
		div
			| 
			.inline-title Schweinchenrosig.
			|  Spar dir ein Fleckchen Haut auf, um dort schweinchenrosig zu sein. Entgegen aller Bräunungsmode ist S. die Farbe der Intimität.
		.indent
			| Motivanalyse:
		.indent
			| l) »Die Welt sieht mich bronzegepanzert, für dich will ich
		.indent
			| nackt sein; nur Schweinchenrosig ist echtes Nackt.« 2) Das Ausstellen des S. setzt Fallen der letzten Hüllen voraus.
		.indent
			| »Die Ahnungslosen, die glaubten, intim gewesen zu sein,
		.indent
			| wenn sie mich im Bikini fraßen.« 3) Auf S. sieht man ganz anders Zärtlichkeitsspuren,
		.indent
			| Kraushaar und Schönheitspflästerchen. 4) »Nun wollen wir Schweinchen sein.« 5) Das Schweinchen als Masttier ist Symbol des stärkeren
		.indent
			| weiblichen Fettpolsters. (Zahlenangaben siehe → 
			a(href="mastmaedchen.html") Mastmädchen
			| .) 6) Schweinchenrosige Herren können eine gewisse Form von
		.indent
			| Weichheit, Ausschweifung, Luxuriosität, Vergeistigung
		.indent
			| bedeuten; eine verruchte Zeiteinteilung, in der der
		.indent
			| bräunende Sport nicht Platz hat. 7) Flitschchen, pudre dein S. mit rosa Staubzucker; schon liegst
		.indent
			| du im Bett der großen Kurtisanen, und Boucher wird dich
		.indent
			| malen.
		.indent
			| Nachbemerkungen: 8) Außer für Haut, Textil, Kosmetikinhalte und -behälter
		.indent
			| sowie Zuckerwaren ist S. nicht anzuwenden. Schweinchen-
		.indent
			| rosige Bücher, Küchengeräte und Häuser sind der Müll-
		.indent
			| verbrennung zuzuleiten. Schweinchenrosiges Schmalz ist
		.indent
			| Kitsch. 9) Wenn du Trichinen befürchtest, führ einen Amtsarzt mit
		.indent
			| dir. 10) Die Freikörperkultur ist das Ende des S. Nur darum:
		.indent
			| Nieder mit ihr!
