extends ../templates/layout
block page-vars
  - const title = "Schweinchenrosig"
block main
  article#schweinchenrosig
    p
      | 
      span.inline-title Schweinchenrosig.
      |  Spar dir ein Fleckchen Haut auf, um dort schweinchenrosig zu sein. Entgegen aller Bräunungsmode ist S. die Farbe der Intimität.
    p
      | Motivanalyse:
    p
      | l) »Die Welt sieht mich bronzegepanzert, für dich will ich
    p
      | nackt sein; nur Schweinchenrosig ist echtes Nackt.« 2) Das Ausstellen des S. setzt Fallen der letzten Hüllen voraus.
    p
      | »Die Ahnungslosen, die glaubten, intim gewesen zu sein,
    p
      | wenn sie mich im Bikini fraßen.« 3) Auf S. sieht man ganz anders Zärtlichkeitsspuren,
    p
      | Kraushaar und Schönheitspflästerchen. 4) »Nun wollen wir Schweinchen sein.« 5) Das Schweinchen als Masttier ist Symbol des stärkeren
    p
      | weiblichen Fettpolsters. (Zahlenangaben siehe 
      a.arrow(href="mastmaedchen.html") Mastmädchen
      | .) 6) Schweinchenrosige Herren können eine gewisse Form von
    p
      | Weichheit, Ausschweifung, Luxuriosität, Vergeistigung
    p
      | bedeuten; eine verruchte Zeiteinteilung, in der der
    p
      | bräunende Sport nicht Platz hat. 7) Flitschchen, pudre dein S. mit rosa Staubzucker; schon liegst
    p
      | du im Bett der großen Kurtisanen, und Boucher wird dich
    p
      | malen.
    p
      | Nachbemerkungen: 8) Außer für Haut, Textil, Kosmetikinhalte und -behälter
    p
      | sowie Zuckerwaren ist S. nicht anzuwenden. Schweinchen-
    p
      | rosige Bücher, Küchengeräte und Häuser sind der Müll-
    p
      | verbrennung zuzuleiten. Schweinchenrosiges Schmalz ist
    p
      | Kitsch. 9) Wenn du Trichinen befürchtest, führ einen Amtsarzt mit
    p
      | dir. 10) Die Freikörperkultur ist das Ende des S. Nur darum:
    p
      | Nieder mit ihr!
