extends ../templates/layout
block main
	- const title = "»Sehnsucht«"
	h1= title
	#sehnsucht
		div
			| 
			b »Sehnsucht«.
			|  Der Terminus ist sträflich, das Vertexten seines semantischen Inhalts out.
		.indent
			| Die Menschensuchlaterne als Realität des Menschelns indessen ist so aktuell, daß sie, allenfalls auf den neuesten Stand der Plasma und Laser-Lampisterie gebracht, auf keiner Welt-Ausstellung fehlen sollte. Oder haben mehr als 99% Ihrer Bekannten die optimale Nachbarschaft gefunden?
