extends ../templates/layout
block main
	h1 Stadtbibliothek
	#stadtbibliothek-1
		div
			| 
			b Stadtbibliothek 1.
			|  Die Bücher sind alle noch in grünes Papier geschlagen und handgestempelt.
	#stadtbibliothek-2
		div
			| 
			b Stadtbibliothek 2.
			|  Die Mauer rieselt. Eine Hilfsbibliothekarin geht umher.
	#stadtbibliothek-3
		div
			| 
			b Stadtbibliothek 3.
			|  Die Rechtfertigung für das „per se“?, fragte die Hilfsbibliothekarin (→ 
			a(href="stadtbibliothek.html#stadtbibliothek-2") Stadtbibliothek 2
			| ) erbleichend. Du weißt es nicht, sagte der Hilfsbibliothekar nachlässig, aber durchaus unsicher. Die 
			span.small-caps Hb
			|  erschütterte ein Weinkrampf (→ 
			a(href="stadtbibliothek.html#stadtbibliothek-1") Stadtbibliothek 1
			| ). Komm, sagte der 
			span.small-caps Hb
			|  unscharf. Was willst du, bohrte die 
			span.small-caps Hb
			| , aber unsicher. Ich begehr dich, sagte der 
			span.small-caps Hb
			| . Zu was?, fehlformulierte die 
			span.small-caps Hb
			| ; dennoch aber konnte sie in späteren Jahren außergewöhnliche Bücher schreiben. (Die Unsicherheit werden erst die Sirioten aus der Welt schaffen.)
		.indent
			| → 
			a(href="inhaltsverzeichnis.html") Inhaltsverzeichnis
			| 