extends ../templates/layout
block main
	h1 Stationsgebäude, wasserseitig
	#stationsgebaeude-wasserseitig
		div
			| 
			b Stationsgebäude, wasserseitig.
			|  Weiß lag diese Fassade an Land, weiß überstrahlt von Sonnenhimmel, von den weißen Tröpfchenembryos über bewohntem Wasser und bewohnter Erde. Weiße Gitter zerschnitten für die drüben weiße Schiffe, einige kleine und zwei große. In die weiße Wasserfläche schauten weiße (und eine Prise bunter) Menschen. Jetzt formte sich eine Schulklasse zu kleiner Mädchen für den Einmarsch ins Schiff, bunt, weiß und etwas fleischfarben. Weiß flimmernd. Neben der Stationsfassade bot ein Strandcafé hinter weißem Drahtgitter an weißen Tischen für weiße Menschen weiße und bunte Drahtsesselchen. Der Kies drunter war weiß. (→ 
			a(href="bunte-stuehle.html") Bunte Stühle
			| .)
		.indent
			| → 
			a(href="inhaltsverzeichnis.html") Inhaltsverzeichnis
			| 