extends ../templates/layout
block title-const
	- const title = "Taufstelle"
block main
	#taufstelle
		div
			| 
			b Taufstelle.
			|  Ich ertappte mich beim Zögern, welchen Heldennamen ich verwenden soll. Daß
		.indent
			| • 
			span.small-caps Ich
			|  viel von J.s Reise mitgemacht habe, leugne ich nicht; daß
		.indent
			| ich wichtige Eigenschaften, zB die Katzenfreundschaft, mit
		.indent
			| ihm teile, erleichtert mir die Einfühlung; daß ich oft in seinen
		.indent
			| seltsamsten Momenten zu Ich übergehe, soll ihn vor meiner
		.indent
			| Überheblichkeit schützen; daß ich mit ihm identisch bin,
		.indent
			| endlich, wäre Irrtum, Schmeichelei und Verleumdung
		.indent
			| (bedenkt: er ist schlank! und er liebt nicht die Algebra!);
		.indent
			| • 
			span.small-caps Er
			|  kommt dem »erlebenden Subjekt«, das von allen anderen
		.indent
			| Subjekten unterschieden ist (denn ihm wird sein Sterben trotz
		.indent
			| Fortleben vieler Subjekte immer ein Weltuntergang
		.indent
			| scheinen), wesentlich näher als
		.indent
			| • J., das dem Leser nichts grundsätzlich anderes als K., L., M.
		.indent
			| bedeutet; wo ich den Helden in die Mitmenschenschar
		.indent
			| eintunken will, bleibe ich bei J.; vieles betrifft auch J. wie alle
		.indent
			| anderen, dort kann man sagen:
		.indent
			| • 
			span.small-caps Man
			| .
		.indent
			| Nun schulde ich dem Leser nichts mehr, als »Gute
		.indent
			| Anpassung!« zu wünschen. Damit ausgerüstet: rasch dem
		.indent
			| Kaufmann nachgerannt; er steht schon vor der → 
			a(href="bruecke.html") Brücke
			| .
