extends ../templates/layout
block page-vars
	- const title = "Taufstelle"
block main
	article#taufstelle
		p
			| 
			b.inline-title Taufstelle.
			|  Ich ertappte mich beim Zögern, welchen Heldennamen ich verwenden soll. Daß
		p
			| • 
			span.small-caps Ich
			|  viel von J.s Reise mitgemacht habe, leugne ich nicht; daß
		p
			| ich wichtige Eigenschaften, zB die Katzenfreundschaft, mit
		p
			| ihm teile, erleichtert mir die Einfühlung; daß ich oft in seinen
		p
			| seltsamsten Momenten zu Ich übergehe, soll ihn vor meiner
		p
			| Überheblichkeit schützen; daß ich mit ihm identisch bin,
		p
			| endlich, wäre Irrtum, Schmeichelei und Verleumdung
		p
			| (bedenkt: er ist schlank! und er liebt nicht die Algebra!);
		p
			| • 
			span.small-caps Er
			|  kommt dem »erlebenden Subjekt«, das von allen anderen
		p
			| Subjekten unterschieden ist (denn ihm wird sein Sterben trotz
		p
			| Fortleben vieler Subjekte immer ein Weltuntergang
		p
			| scheinen), wesentlich näher als
		p
			| • J., das dem Leser nichts grundsätzlich anderes als K., L., M.
		p
			| bedeutet; wo ich den Helden in die Mitmenschenschar
		p
			| eintunken will, bleibe ich bei J.; vieles betrifft auch J. wie alle
		p
			| anderen, dort kann man sagen:
		p
			| • 
			span.small-caps Man
			| .
		p
			| Nun schulde ich dem Leser nichts mehr, als »Gute
		p
			| Anpassung!« zu wünschen. Damit ausgerüstet: rasch dem
		p
			| Kaufmann nachgerannt; er steht schon vor der → 
			a(href="bruecke.html") Brücke
			| .
