extends ../templates/layout
block main
	- const title = "Ufermauer"
	h1= title
	#ufermauer
		div
			| 
			b Ufermauer.
			|  Na also, jetzt ist es schon unumstößlich, daß wir in freundlichem Land sind, auch die Ufermauer kann uns nicht schrecken, ganz im Gegenteil, es ist ein so säuberliches Feiertagsmäuerchen mitten im Werktag; eine rechte Mauer zur rechten Zeit erquickt oft in ganz überraschendem Ausmaß (Schi huang-ti?). Nagelneue Lackschilder (→ 
			a(href="schildermalen.html") Schildermalen
			| ), langgezogen, für Getränke werbend, am langgezogenen Uferrestaurantgärtchen, grüngittrigen, an die Ufermauer geklebten. Dort Ameise sein. Wanderer sein. Der sich jetzt im Sitzen im Trinken an die Mauer lehnen kann, die sonnendurchwärmte im Herbst, die glitschiggekühlte am heutigen Vorhundstag. → 
			a(href="bunte-stuehle.html") Bunte Stühle
			| .
		.indent
			| → 
			a(href="station-nixdorf.html") Station Nixdorf
			| .
