extends ../templates/layout
block title-const
	- const title = "Ufer"
block main
	article#ufer
		p
			| 
			b.inline-title Ufer.
			|  Geographisch: rechtes , in J.s Stromauf-Fahrt aber linkes .
		p
			| (Das massige Stampfen und Rauschen hat ausgelärmt, der Schiffsjunge turnt nicht mehr in den Bäumen, der Kapitän ist im Kapitänkobel ganz Kapitän, jeden Tag Sonntag, ein Wolljäckchen gabelfrühstückt schon), langsam weicht der Dunst – der Himmel wird stärker blau, ein Nachleuchten der → 
			a(href="bunte-stuehle.html") bunten Stühle
			|  im Schiffsstation-Café. Eintritt in die → 
			a(href="verladelandschaft.html") Verladelandschaft
			| .
