extends ../templates/layout
block main
	h1 Verauung
	#verauung
		div
			| 
			b Verauung.
			|  Die Zigarette verzischt im Wasser, etwas → 
			a(href="plankton.html") Plankton
			|  verbrennend. Die → 
			a(href="huegel.html") Hügel
			|  ziehen sich vom Ufer, das Ufer vom Schiff zurück. Das Häuschenzeug wird fern und unansehnlich. Um 9.20 gibt es überhaupt keine Häuser mehr. Auwald beginnt für unabsehbare Zeiten. (→ 
			a(href="auen.html") Au
			| ). Das Schiff fährt manchmal fern, manchmal nah dem Ufer. → 
			a(href="wasserereignisse.html") Wasserereignisse
			| . J. tritt in ein → 
			a(href="menschennaeheres-stadium.html") menschennäheres Stadium
			| .
