extends ../templates/layout
block main
	h1 Verwandelt euch
	#verwandelt-euch
		div
			| 
			b Verwandelt euch.
			|  Daten lt. einem Briefkastenonkel: Das Schwein verwandelt 3,2 kg Körner, die es frißt, zu einem Kilogramm Schweinefleisch, Lebendgewicht.
		.indent
			| → 
			a(href="inhaltsverzeichnis.html") Inhaltsverzeichnis
			| 