extends ../templates/layout
block page-vars
  - const title = "Verwandelt euch"
block main
  article#verwandelt-euch
    p
      | 
      span.inline-title Verwandelt euch.
      |  Daten lt. einem Briefkastenonkel: Das Schwein verwandelt 3,2 kg Körner, die es frißt, zu einem Kilogramm Schweinefleisch, Lebendgewicht.
