extends ../templates/layout
block title-const
	- const title = "Verwandelt euch"
block main
	#verwandelt-euch
		div
			| 
			b Verwandelt euch.
			|  Daten lt. einem Briefkastenonkel: Das Schwein verwandelt 3,2 kg Körner, die es frißt, zu einem Kilogramm Schweinefleisch, Lebendgewicht.
