extends ../templates/layout
block page-vars
  - const title = "Wallgraben"
block main
  article#wallgraben
    p
      | 
      .inline-title Wallgraben.
      |  Im Wallgraben fußt das → 
      a(href="haus-mit-dem-hochfruehlinghaften.html") Haus mit dem hochfrühlinghaften
      |  Zimmer; es wäre kein Wunder, wenn nahe diesem Ortungspunkt Edibelbeks das mytillen-ortende → 
      a(href="haeuschen.html") Häuschen
      |  12 läge und eines der raschwechselnden Quartiere der → 
      a(href="kinder-des-weidendorfes.html") Kinder des Weidendorfes
      | : Jermilka, Jessica und Jentchen würden diesenfalls mit ihrer → 
      a(href="katze.html") Katzen
      | -Schar zum Flüßchen Knopfbach hinunterpoltern, nur im heißesten Sommer nicht mit dem → 
      a(href="leuchtendes-blau.html") leuchtendblauen
      | , mohnroten und zinnobergrünen → 
      a(href="kopftuch.html") Kopftuch
      | .
