extends ../templates/layout
block title-const
	- const title = "Wasserbeschlagenes Glas"
block main
	#wasserbeschlagenes-glas
		div
			| 
			.inline-title Wasserbeschlagenes Glas.
			| 
		.indent
			| (Raum zum Einkleben
		.indent
			| eines wasserbeschla-
		.indent
			| genen Glases)
