extends ../templates/layout
block page-vars
  - const title = "Wasserbeschlagenes Glas"
block main
  article#wasserbeschlagenes-glas
    p
      | 
      span.inline-title Wasserbeschlagenes Glas.
      | 
    p
      | (Raum zum Einkleben
    p
      | eines wasserbeschla-
    p
      | genen Glases)
