extends ../templates/layout
block title-const
	- const title = "Wasserbeschlagenes Glas"
block main
	article#wasserbeschlagenes-glas
		p
			| 
			b.inline-title Wasserbeschlagenes Glas.
			| 
		p
			| (Raum zum Einkleben
		p
			| eines wasserbeschla-
		p
			| genen Glases)
