extends ../templates/layout
block main
	h1 Wasserbeschlagenes Glas
	#wasserbeschlagenes-glas
		div
			| 
			b Wasserbeschlagenes Glas.
			| 
		.indent
			| (Raum zum Einkleben
		.indent
			| eines wasserbeschla-
		.indent
			| genen Glases)
		.indent
			| → 
			a(href="inhaltsverzeichnis.html") Inhaltsverzeichnis
			| 