extends ../templates/layout
block main
	- const title = "Wasserbeschlagenes Glas"
	h1= title
	#wasserbeschlagenes-glas
		div
			| 
			b Wasserbeschlagenes Glas.
			| 
		.indent
			| (Raum zum Einkleben
		.indent
			| eines wasserbeschla-
		.indent
			| genen Glases)
