extends ../templates/layout
block main
	h1 Wauß
	#wauss
		div
			| 
			b Wauß.
			|  Im Gegensatz zu Grauß, das das Nuancenfeld zwischen Grauweiß und Grau absteckt, das Nuancenfeld zwischen Weißgrau und Weiß.
		.indent
			| → 
			a(href="inhaltsverzeichnis.html") Inhaltsverzeichnis
			| 