extends ../templates/layout
block main
	- const title = "Wauß"
	h1= title
	#wauss
		div
			| 
			b Wauß.
			|  Im Gegensatz zu Grauß, das das Nuancenfeld zwischen Grauweiß und Grau absteckt, das Nuancenfeld zwischen Weißgrau und Weiß.
