extends ../templates/layout
block page-vars
  - const title = "Weg zur Schiffsstation"
block main
  article#weg-zur-schiffsstation
    p
      | 
      .inline-title Weg zur Schiffsstation.
      |  An der Brücke vorbei ging J., die K.-Straße entlang, bis die L.-Straße kam. Dort wuchs frühe → 
      a(href="kamille.html") Kamille
      | . Ein Betrunkener in altem singendem Lloyd überfuhr ihn fast, trotz grüner Fußgängerampel. »Tod alleinstehenden Chemiekaufmanns« sah J. in der »Tageschronik«, »Trinker-wüstling mordet Passanten« im »Express«. Hinter dem Baum- und Buschwerk spürte man weiße Motorschiffe. Firmlingskutschenweiß, zuckerbäckerweiß, → 
      a(href="korrupte-braeute.html") korrupte Bräute
      | -weiß. Wind an diesem verfrühten → 
      a(href="hundstage.html") Hundstag
      |  (Junimitte) blähte J.s Rock zum Segel und half ihm so weiter zum Schiff.
    p
      | Ein Schiff wird kommen,
    p
      | fühlte er,
    p
      | und zwar geschwommen.
    p
      | (Käm es geflattert,
    p
      | wär ich verdattert.)
    p
      | → 
      a(href="melina-mercouri.html") Melina Mercouri
      |  muß Weiß gut passen. Weißere Wäsche wird durch 
      span.small-caps Blitz
      | ® noch weißerer. 
      span.small-caps Polyfibron Dr
      | . 
      span.small-caps Wurz
      | ® soll ein neuerliches Absetzen gelöster Schmutzteilchen auf der Faser verhindern. In weißer Wäsche vergißt selbst Melina für eine Nacht den Diktator. Rauschend von Rüschen. Militärjunta — unwahrscheinlicher Tagtraum aus siestaträgem Wolkenkratzer-Athen. Dem Tüchtigen schlägt keine Stunde; bis ihm die Stunde schlägt. »Stärkste Gifte, besonders die MerkuriSalze, die gleichzeitig ätzend wirken.« Melina hin und her: ein halber → 
      a(href="brotlaib.html") Brotlaib
      |  lag im Rasen, für fühlte er, → 
      a(href="pferde.html") Pferde
      | , etwaige. Und als der Blick wieder hochkam, stand da schon, wasserluftverpackt, das → 
      a(href="stationsgebaeude.html") Stationsgebäude
      | .
