extends ../templates/layout
block main
	- const title = "Weiblich"
	h1= title
	#weiblich
		div
			| 
			b Weiblich.
			| 
		.indent
			| 
			span.small-caps Annabelle
			|  — die weibliche Apfeltorte
		.indent
			| Weibliche Brüste durch Sentrix-Creme
		.indent
			| Weibliches Camping im Winkie-Wohnwagen
		.indent
			| Weibliche Darmfrische durch Ignazquelle
		.indent
			| Weibliche Eva durch 
			span.small-caps Pelzcredit
			| 
		.indent
			| Weibliche Finger durch Teenagerkurse
		.indent
			| Weibliche Gesundheit durch Zwiebosan
		.indent
			| Henny— die weibliche Höhensonne
		.indent
			| Weibliche Intelligenz durch 
			span.small-caps Frauenblatt
			| 
		.indent
			| Weibliches Jungsein durch Schildkrötenmilch
		.indent
			| Weibliche Kokswärme — Herthagrube
		.indent
			| Weiblicher Lautsprecher 
			span.small-caps Rosenklang
			| 
		.indent
			| Weibliche Mädchen durch Minischultasche
		.indent
			| Weibliche Nase durch Nachtformant
		.indent
			| Weibliche Ostern durch Nerzosterhasen
		.indent
			| Packsy — das weibliche Packpapier
		.indent
			| Weiblich quick durch 
			span.small-caps Lyso Stick
			| 
		.indent
			| Gletscherbraun in der weiblichen Riesentube
		.indent
			| Weibliche Sohlen durch Bessy-Einlagen
		.indent
			| 
			span.small-caps Java
			| -
			span.small-caps Dorée
			|  — der weibliche Tee
		.indent
			| Gegen weibliche Unfrische 
			span.small-caps Extra Jod
			|  Thunfische
		.indent
			| Weibliche Vorsicht—Alma-Versicherung
		.indent
			| Schaumbad, der weiblichste Wassersport
		.indent
			| Weibliche X durch Schönschreibkurse
		.indent
			| Weibliche Y durch Schönschreibkurse
		.indent
			| Weibliche Zahncreme, Zimmertemperatur, Zukunft.
		.indent
			| (Die Werbung macht, in ihrem Trachten nach Wunschdifferenzierung und nach Einfühlung in differenzierte Wünschergruppen, den Frauen eine weibliche Welt, den Männern eine → 
			a(href="maennlich.html") männliche
			| , so differenziert voneinander, daß die Geschlechter einander nicht einmal mehr beim Rülpsen verstehen. 
			span.small-caps Guten
			|  weiblichen 
			span.small-caps Tag
			| ! ist mit 
			span.small-caps Guten
			|  männlichen 
			span.small-caps Tag
			| ! längst nicht mehr identisch. Auch macht die Werbung alle Männer einander und alle Frauen einander gleich. So wird die Wohlstandswelt ein Kriegsschauplatz, auf dem ein einziger in seinen Modifikationen austauschbarer Mann und eine ebensolche Frau einander maximal gewinnbringend abzuschaffen bestrebt sind. Moral: Wählt — ja, wen?)
