extends ../templates/layout
block main
	- const title = "Wildenten"
	h1= title
	#wildenten-1
		div
			| 
			b Wildenten 1.
			|  Wildenten schwimmen: kratzen das Wasser mit ihren Gräbbeln; plaudern: bäp bäp.
	#wildenten-2
		div
			| 
			b Wildenten 2.
			|  Bäp bäp — ich habe mitten im Grau weiße Federn; meine Mutter hatte es mit einem Haus-Erpel—bäp bäp bäp.
	#wildenten-3
		div
			| 
			b Wildenten 3.
			|  Eine graugesprenkelte Wildente mit tintengrüner Verzierung spielt Motorboot.
	#wildenten-4
		div
			| 
			b Wildenten 4.
			|  Eine Beat-Ente schreit sehr laut: Ah! Ah! Ah!
	#wildenten-5
		div
			| 
			b Wildenten 5.
			|  Die Flotte der Wildenten. (→ 
			a(href="flotte.html") Flotte
			| .)
	#wildenten-6
		div
			| 
			b Wildenten 6.
			|  Auf einem alten Anlegefloß spazieren Wildenten. (→ 
			a(href="plankengeruch.html") Plankengeruch
			| .)
	#wildenten-7
		div
			| 
			b Wildenten 7.
			|  Eine Wildente haus-entet ruhig am Ufer, nimmt ein Fußbad, legt sich ins Wasser, zupft an ihrer Brust.
	#wildenten-8
		div
			| 
			b Wildenten 8.
			|  Wildenten auf der Flußfläche — ja. Aber in jenem Betonreservoir auf dem Weinberg? Wie kommen die hinein? Was machen sie, wenn das Reservoir austrocknet?
