extends ../templates/layout
block title-const
	- const title = "Wolfi-Bauer"
block main
	#wolfi-bauer
		div
			| 
			b Wolfi-Bauer.
			|  → 
			a(href="gasthaeuser.html#gasthaeuser-1") Gasthäuser 1
			| .
