extends ../templates/layout
block page-vars
  - const title = "Wolfi-Bauer"
block main
  article#wolfi-bauer
    p
      | 
      span.inline-title Wolfi-Bauer.
      |  → 
      a(href="gasthaeuser.html#gasthaeuser-1") Gasthäuser 1
      | .
