extends ../templates/layout
block page-vars
  - const title = "Wolfi-Bauer"
block main
  article#wolfi-bauer
    p
      | 
      h2.inline-title Wolfi-Bauer.
      |  
      a.arrow(href="gasthaeuser.html#gasthaeuser-1") Gasthäuser 1
      | .
