extends ../templates/layout
block main
	- const title = "Zunächst aber"
	h1= title
	#zunaechst-aber
		div
			| 
			b Zunächst aber
			|  vermochte ihn wieder die Welt der ungebrochenen Dinge zu fesseln (→ 
			a(href="auen.html") Au
			| , → 
			a(href="pfahlhaeuser.html") Pfahlhaus
			| , → 
			a(href="wasserereignisse.html") Wasserereignis
			| , in beliebiger Reihenfolge);
		.indent
			| um 8.30 querte dann endlich das schräggespannte etwas durchhängende Stahlseil einer Königskinder-Fähre das Schiff;
		.indent
			| sodann nahmen bis 8.50 neben dem Exerzitium, wieweit Fährenbenützung die Garantienkette eines versicherten Transportes durchbrechen könnte, folgende Eindrücke (in beliebiger Reihenfolge) seine Aufmerksamkeit in Anspruch: → 
			a(href="auen.html") Au
			| , → 
			a(href="bordereignisse.html") Bordereignis
			| , → 
			a(href="huegel.html") Hügel
			| , → 
			a(href="pfahlhaeuser.html") Pfahlhaus
			| , → 
			a(href="wasserereignisse.html") Wasserereignis
			| .
		.indent
			| Etwa um 8.50 traten hinter den Pfahlhäuschen, die die Au dauernd idylldurchsetzten, die sehr saftigen Wald-/WiesenHügel ganz nahe heran, es wetterleuchtete nach einem baldigen Städtchen (da und dort ein von Wildrosen umrötetes Haus, echt, massiv, dauerbewohnbar; Spuren von Gassen ins Land hinein, nichtbloßimmer die Uferbegleitschnur);
		.indent
			| und um 9.00 bog das Schiff ganz eng am Steinbruchufer in die große Überraschung → 
			a(href="grottenolm.html") Grottenolm
			| .
