include ../includes/variables

doctype html
html(lang="de")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="../styles/style.css")
        title Lexikon-Roman
    body
        main
            block title-const
                - const title = "Title"
            - const includeNumberInTitle = false
            if keys.includes(title) & includeNumberInTitle
                h1= list[title].index + ". " + title
            else 
                h1= title
            block main
                #title
                    div
                        | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium voluptas temporibus perferendis nisi, iure ad quibusdam facere modi facilis tempore? Facere animi nulla obcaecati, doloremque in voluptatum natus odio expedita?
            include ../includes/navigation