nav#navigation
    ul
        if keys.includes(title)
            - const index = list[title].index - 1
            - const nextIndex = index + 1
            - const previousIndex = index - 1
            if nextIndex < keys.length
                - const nextAddress = list[keys[nextIndex]].address
                li
                    a(href=nextAddress) Nächste Seite
            if previousIndex >= 0
                - const previousAddress = list[keys[previousIndex]].address
                li
                    a(href=previousAddress) Vorherige Seite
        unless title == "Inhaltsverzeichnis"
            li
                a(href="inhaltsverzeichnis.html") Inhaltsverzeichnis
        unless title == "Gebrauchsanweisung"
            li
                a(href="gebrauchsanweisung.html") Gebrauchsanweisung
        //- unless title == "Über den Lexikon-Roman"
        //-     li
        //-         a(href="ueber-den-lexikon-roman.html") Über den Lexikon-Roman
        li
            a(href="../index.html") Titelblatt
        li
            a(href="#") Seitenanfang