#navigation
    ul
        - const inhaltsverzeichnis = title == "Inhaltsverzeichnis"
        - const gebrauchsanweisung = title == "Gebrauchsanweisung"
        - const ueberDenLexikonRoman = title == "Über den Lexikon-Roman"
        - const isPageTitle = keys.includes(title)
        if isPageTitle
            - const index = list[title].index - 1
            - const nextIndex = index + 1
            if nextIndex < keys.length
                - const nextAddress = list[keys[nextIndex]].address
                li
                    a(href=nextAddress) Nächste Seite
            - const previousIndex = index - 1
            if previousIndex >= 0
                - const previousAddress = list[keys[previousIndex]].address
                li
                    a(href=previousAddress) Vorherige Seite
        if !inhaltsverzeichnis
            li
                a(href="inhaltsverzeichnis.html") Inhaltsverzeichnis
        if !gebrauchsanweisung
            li
                a(href="gebrauchsanweisung.html") Gebrauchsanweisung
        if !ueberDenLexikonRoman
            li
                a(href="ueber-den-lexikon-roman.html") Über den Lexikon-Roman
        li
            a(href="../index.html") Titelblatt