- 
    const list = {
        "Gebrauchsanweisung": { "index": 1, "address": "gebrauchsanweisung.html" },
        "A": { "index": 2, "address": "a.html" },
        "Aberdeen": { "index": 3, "address": "aberdeen.html" },
        "Achselhöhle": { "index": 4, "address": "achselhoehle.html" },
        "Affirmative Dichtung": { "index": 5, "address": "affirmative-dichtung.html" },
        "Allwissender Erzähler": { "index": 6, "address": "allwissender-erzaehler.html" },
        "Anfang der Reise": { "index": 7, "address": "anfang-der-reise.html" },
        "Annie": { "index": 8, "address": "annie.html" },
        "Anwendung der Rot-Überlegungen auf ein Kleid": { "index": 9, "address": "anwendung-der-rot-ueberlegungen-auf-ein-kleid.html" },
        "Arcimboldi": { "index": 10, "address": "arcimboldi.html" },
        "Arnica": { "index": 11, "address": "arnica.html" },
        "Auen": { "index": 12, "address": "auen.html" },
        "Auen im allgemeinen": { "index": 13, "address": "auen-im-allgemeinen.html" },
        "Auflockerungen": { "index": 14, "address": "auflockerungen.html" },
        "Auflockerung im allgemeinen": { "index": 15, "address": "auflockerung-im-allgemeinen.html" },
        "Außenvögel": { "index": 16, "address": "aussenvoegel.html" },
        "Autostraße an den Terrassenhügeln": { "index": 17, "address": "autostrasse-an-den-terrassenhuegeln.html" },
        "Backstube": { "index": 18, "address": "backstube.html" },
        "Barbara": { "index": 19, "address": "barbara.html" },
        "Barock": { "index": 20, "address": "barock.html" },
        "Befreiung der Aussicht": { "index": 21, "address": "befreiung-der-aussicht.html" },
        "Befund": { "index": 22, "address": "befund.html" },
        "Begeisterung": { "index": 23, "address": "begeisterung.html" },
        "Begründung für den Artikel Körper": { "index": 24, "address": "begruendung-fuer-den-artikel-koerper.html" },
        "Beißzange": { "index": 25, "address": "beisszange.html" },
        "Bergklebesiedlung": { "index": 26, "address": "bergklebesiedlung.html" },
        "Bestimmungsbuch": { "index": 27, "address": "bestimmungsbuch.html" },
        "Betonlager": { "index": 28, "address": "betonlager.html" },
        "Bezirksgericht": { "index": 29, "address": "bezirksgericht.html" },
        "Bier": { "index": 30, "address": "bier.html" },
        "Biographische Übung": { "index": 31, "address": "biographische-uebung.html" },
        "Blaue Trichter": { "index": 32, "address": "blaue-trichter.html" },
        "Blaugrüner Liegestuhl": { "index": 33, "address": "blaugruener-liegestuhl.html" },
        "Blechchristus": { "index": 34, "address": "blechchristus.html" },
        "B. Ø.": { "index": 35, "address": "b-oe.html" },
        "Bordabenteuer": { "index": 36, "address": "bordabenteuer.html" },
        "Bordereignisse": { "index": 37, "address": "bordereignisse.html" },
        "Braun": { "index": 38, "address": "braun.html" },
        "Brausepulver": { "index": 39, "address": "brausepulver.html" },
        "Brotlaib": { "index": 40, "address": "brotlaib.html" },
        "Brücke": { "index": 41, "address": "bruecke.html" },
        "Brücken der Erwachsenen": { "index": 42, "address": "bruecken-der-erwachsenen.html" },
        "Bunte Stühle": { "index": 43, "address": "bunte-stuehle.html" },
        "Burg": { "index": 44, "address": "burg.html" },
        "»Caffeehaus«": { "index": 45, "address": "caffeehaus.html" },
        "Chemiewerk": { "index": 46, "address": "chemiewerk.html" },
        "CP": { "index": 47, "address": "cp.html" },
        "Debitorenbuchhalterin": { "index": 48, "address": "debitorenbuchhalterin.html" },
        "Deck": { "index": 49, "address": "deck.html" },
        "Deformation": { "index": 50, "address": "deformation.html" },
        "Dicke Leute": { "index": 51, "address": "dicke-leute.html" },
        "Die Heterogene": { "index": 52, "address": "die-heterogene.html" },
        "Die mit den Schlafaugen": { "index": 53, "address": "die-mit-den-schlafaugen.html" },
        "Die mit der Tulpe": { "index": 54, "address": "die-mit-der-tulpe.html" },
        "Diensthäuschen": { "index": 55, "address": "diensthaeuschen.html" },
        "Die Rote im roten Trikot mit rotem Popo": { "index": 56, "address": "die-rote-im-roten-trikot-mit-rotem-popo.html" },
        "Dynamit-Attentäter": { "index": 57, "address": "dynamit-attentaeter.html" },
        "Edelnaschwerk": { "index": 58, "address": "edelnaschwerk.html" },
        "Eichhörnchen": { "index": 59, "address": "eichhoernchen.html" },
        "Einmarsch ins Schiff": { "index": 60, "address": "einmarsch-ins-schiff.html" },
        "Eiske": { "index": 61, "address": "eiske.html" },
        "Eissalon": { "index": 62, "address": "eissalon.html" },
        "Eklektizismus": { "index": 63, "address": "eklektizismus.html" },
        "Element X": { "index": 64, "address": "element-x.html" },
        "Entbehren": { "index": 65, "address": "entbehren.html" },
        "Entsagungsvolles": { "index": 66, "address": "entsagungsvolles.html" },
        "Entwicklungen": { "index": 67, "address": "entwicklungen.html" },
        "Erfolg": { "index": 68, "address": "erfolg.html" },
        "Erproben": { "index": 69, "address": "erproben.html" },
        "Erwartungsmuster": { "index": 70, "address": "erwartungsmuster.html" },
        "Espresso": { "index": 71, "address": "espresso.html" },
        "Essen und Trinken": { "index": 72, "address": "essen-und-trinken.html" },
        "Eutonignale": { "index": 73, "address": "eutonignale.html" },
        "Exporteur": { "index": 74, "address": "exporteur.html" },
        "Exporteurgedanken": { "index": 75, "address": "exporteurgedanken.html" },
        "Fabrikschlote": { "index": 76, "address": "fabrikschlote.html" },
        "Fehlen von Brücken oder Fähren": { "index": 77, "address": "fehlen-von-bruecken-oder-faehren.html" },
        "Fehlen von Rot": { "index": 78, "address": "fehlen-von-rot.html" },
        "Fehlertoleranz": { "index": 79, "address": "fehlertoleranz.html" },
        "Felder": { "index": 80, "address": "felder.html" },
        "Feldstreifen von Senf": { "index": 81, "address": "feldstreifen-von-senf.html" },
        "Feminismus": { "index": 82, "address": "feminismus.html" },
        "F-Erlebnis": { "index": 83, "address": "f-erlebnis.html" },
        "Fetischist": { "index": 84, "address": "fetischist.html" },
        "Filmtitelspiel": { "index": 85, "address": "filmtitelspiel.html" },
        "Fischer": { "index": 86, "address": "fischer.html" },
        "Flotte": { "index": 87, "address": "flotte.html" },
        "Frau und Freude, das Blatt mit Herzpfiff": { "index": 88, "address": "frau-und-freude-das-blatt-mit-herzpfiff.html" },
        "Freiheit, die ich meine": { "index": 89, "address": "freiheit-die-ich-meine.html" },
        "Gaatsch": { "index": 90, "address": "gaatsch.html" },
        "Garage": { "index": 91, "address": "garage.html" },
        "Gasthäuser": { "index": 92, "address": "gasthaeuser.html" },
        "Gegrilltes Hähnchen": { "index": 93, "address": "gegrilltes-haehnchen.html" },
        "Gelbe Schenken": { "index": 94, "address": "gelbe-schenken.html" },
        "Gemeindebauten": { "index": 95, "address": "gemeindebauten.html" },
        "Geographie": { "index": 96, "address": "geographie.html" },
        "Gesäß": { "index": 97, "address": "gesaess.html" },
        "Geschäftsbeziehung": { "index": 98, "address": "geschaeftsbeziehung.html" },
        "Grottenolm": { "index": 99, "address": "grottenolm.html" },
        "Hahnenzierden": { "index": 100, "address": "hahnenzierden.html" },
        "Haus am Knopfer Hügel": { "index": 101, "address": "haus-am-knopfer-huegel.html" },
        "Häuschen": { "index": 102, "address": "haeuschen.html" },
        "Haus mit dem hochfrühlinghaften Zimmer": { "index": 103, "address": "haus-mit-dem-hochfruehlinghaften-zimmer.html" },
        "Haus mit dem Standard-Mariandl": { "index": 104, "address": "haus-mit-dem-standard-mariandl.html" },
        "Hawaiimädchen": { "index": 105, "address": "hawaiimaedchen.html" },
        "Herrenjournal": { "index": 106, "address": "herrenjournal.html" },
        "Hügel": { "index": 107, "address": "huegel.html" },
        "Hühner": { "index": 108, "address": "huehner.html" },
        "Hunde": { "index": 109, "address": "hunde.html" },
        "100 kg attraktive Frau": { "index": 110, "address": "100-kg-attraktive-frau.html" },
        "Hundeschärfer": { "index": 111, "address": "hundeschaerfer.html" },
        "Hundstage": { "index": 112, "address": "hundstage.html" },
        "Ingenieur": { "index": 113, "address": "ingenieur.html" },
        "Ing. Pozzi": { "index": 114, "address": "ing-pozzi.html" },
        "Johannisbeerwein": { "index": 115, "address": "johannisbeerwein.html" },
        "Joyce": { "index": 116, "address": "joyce.html" },
        "Jung": { "index": 117, "address": "jung.html" },
        "Kamille": { "index": 118, "address": "kamille.html" },
        "Katze": { "index": 119, "address": "katze.html" },
        "Kaufhäuser": { "index": 120, "address": "kaufhaeuser.html" },
        "Kinderaufsicht": { "index": 121, "address": "kinderaufsicht.html" },
        "Kinder des Weidendorfes": { "index": 122, "address": "kinder-des-weidendorfes.html" },
        "Kleine Dinge": { "index": 123, "address": "kleine-dinge.html" },
        "Knopf": { "index": 124, "address": "knopf.html" },
        "Knopfbach": { "index": 125, "address": "knopfbach.html" },
        "Knopfer Tor": { "index": 126, "address": "knopfer-tor.html" },
        "Kollaboration": { "index": 127, "address": "kollaboration.html" },
        "Komposition": { "index": 128, "address": "komposition.html" },
        "Kopftuch": { "index": 129, "address": "kopftuch.html" },
        "Körper": { "index": 130, "address": "koerper.html" },
        "Korrupte Bräute": { "index": 131, "address": "korrupte-braeute.html" },
        "Krämer": { "index": 132, "address": "kraemer.html" },
        "Kreissäge": { "index": 133, "address": "kreissaege.html" },
        "Kuhdreck": { "index": 134, "address": "kuhdreck.html" },
        "Kulinarisch": { "index": 135, "address": "kulinarisch.html" },
        "Kunststoffliebe": { "index": 136, "address": "kunststoffliebe.html" },
        "Küssen": { "index": 137, "address": "kuessen.html" },
        "Labyrinth": { "index": 138, "address": "labyrinth.html" },
        "Lagerschuppen": { "index": 139, "address": "lagerschuppen.html" },
        "Landkonditorei": { "index": 140, "address": "landkonditorei.html" },
        "Landschaft": { "index": 141, "address": "landschaft.html" },
        "Leere": { "index": 142, "address": "leere.html" },
        "Leuchtendes Blau": { "index": 143, "address": "leuchtendes-blau.html" },
        "Lexikonromane": { "index": 144, "address": "lexikonromane.html" },
        "Liddy": { "index": 145, "address": "liddy.html" },
        "Lokalisation": { "index": 146, "address": "lokalisation.html" },
        "Lollo": { "index": 147, "address": "lollo.html" },
        "Löwenfaß": { "index": 148, "address": "loewenfass.html" },
        "Mädchen": { "index": 149, "address": "maedchen.html" },
        "Mädchenblau-Paradoxon": { "index": 150, "address": "maedchenblau-paradoxon.html" },
        "Madigmachen": { "index": 151, "address": "madigmachen.html" },
        "Magazine": { "index": 152, "address": "magazine.html" },
        "Malkasten": { "index": 153, "address": "malkasten.html" },
        "Manipulation": { "index": 154, "address": "manipulation.html" },
        "Man nehme": { "index": 155, "address": "man-nehme.html" },
        "Männlich": { "index": 156, "address": "maennlich.html" },
        "Maria-Theresien-Gelb": { "index": 157, "address": "maria-theresien-gelb.html" },
        "Marktkundliches": { "index": 158, "address": "marktkundliches.html" },
        "Mary McPee": { "index": 159, "address": "mary-mcpee.html" },
        "Mastmädchen": { "index": 160, "address": "mastmaedchen.html" },
        "Masut": { "index": 161, "address": "masut.html" },
        "Maturanten": { "index": 162, "address": "maturanten.html" },
        "M. d. D.": { "index": 163, "address": "m-d-d.html" },
        "Melina Mercouri": { "index": 164, "address": "melina-mercouri.html" },
        "Menschen": { "index": 165, "address": "menschen.html" },
        "Menschennäheres Stadium": { "index": 166, "address": "menschennaeheres-stadium.html" },
        "Milchblau": { "index": 167, "address": "milchblau.html" },
        "Mindel": { "index": 168, "address": "mindel.html" },
        "Mineralwasser": { "index": 169, "address": "mineralwasser.html" },
        "Mittagserwartung": { "index": 170, "address": "mittagserwartung.html" },
        "Mittelteil": { "index": 171, "address": "mittelteil.html" },
        "Molotow-Cocktail": { "index": 172, "address": "molotow-cocktail.html" },
        "Motive für das Quälen von Katzen": { "index": 173, "address": "motive-fuer-das-quaelen-von-katzen.html" },
        "Motive für den Erwerb eines Eichhörnchens": { "index": 174, "address": "motive-fuer-den-erwerb-eines-eichhoernchens.html" },
        "Motive für die Freude an Verwinkelungen": { "index": 175, "address": "motive-fuer-die-freude-an-verwinkelungen.html" },
        "Motivsammlung": { "index": 176, "address": "motivsammlung.html" },
        "M. S.": { "index": 177, "address": "m-s.html" },
        "Mundart": { "index": 178, "address": "mundart.html" },
        "Muskeln": { "index": 179, "address": "muskeln.html" },
        "Nachbetrachtung": { "index": 180, "address": "nachbetrachtung.html" },
        "Nach dem Auftauchen der Auen": { "index": 181, "address": "nach-dem-auftauchen-der-auen.html" },
        "Nachgefrischt": { "index": 182, "address": "nachgefrischt.html" },
        "Nachmittagsgespräche": { "index": 183, "address": "nachmittagsgespraeche.html" },
        "Nachworte": { "index": 184, "address": "nachworte.html" },
        "Nachziehverfahren?": { "index": 185, "address": "nachziehverfahren.html" },
        "NATUR-HOTEL": { "index": 186, "address": "natur-hotel.html" },
        "Nickel": { "index": 187, "address": "nickel.html" },
        "Nouveau roman": { "index": 188, "address": "nouveau-roman.html" },
        "Ödstätten": { "index": 189, "address": "oedstaetten.html" },
        "On the rocks": { "index": 190, "address": "on-the-rocks.html" },
        "Orangeblonde": { "index": 191, "address": "orangeblonde.html" },
        "Orangehafter-Brand-Paradoxon": { "index": 192, "address": "orangehafter-brand-paradoxon.html" },
        "Ortsbestimmung": { "index": 193, "address": "ortsbestimmung.html" },
        "Paddelclub-Haus": { "index": 194, "address": "paddelclub-haus.html" },
        "Parfum": { "index": 195, "address": "parfum.html" },
        "Perspektiven": { "index": 196, "address": "perspektiven.html" },
        "Pfahlhäuser": { "index": 197, "address": "pfahlhaeuser.html" },
        "Pferde": { "index": 198, "address": "pferde.html" },
        "Picknick": { "index": 199, "address": "picknick.html" },
        "Pläne": { "index": 200, "address": "plaene.html" },
        "Plankengeruch": { "index": 201, "address": "plankengeruch.html" },
        "Plankton": { "index": 202, "address": "plankton.html" },
        "Platonische Hälften": { "index": 203, "address": "platonische-haelften.html" },
        "Politik": { "index": 204, "address": "politik.html" },
        "Pop-Roman?": { "index": 205, "address": "pop-roman.html" },
        "Promenade": { "index": 206, "address": "promenade.html" },
        "Quenta Quebec": { "index": 207, "address": "quenta-quebec.html" },
        "Realismus": { "index": 208, "address": "realismus.html" },
        "Rechen": { "index": 209, "address": "rechen.html" },
        "Restaurant": { "index": 210, "address": "restaurant.html" },
        "Restaurant-Menschen": { "index": 211, "address": "restaurant-menschen.html" },
        "Roststangenlager": { "index": 212, "address": "roststangenlager.html" },
        "Sättigung": { "index": 213, "address": "saettigung.html" },
        "Scharfer Hund": { "index": 214, "address": "scharfer-hund.html" },
        "Schildermalen": { "index": 215, "address": "schildermalen.html" },
        "Schläflinge": { "index": 216, "address": "schlaeflinge.html" },
        "Schlager": { "index": 217, "address": "schlager.html" },
        "Schleuse": { "index": 218, "address": "schleuse.html" },
        "Schnitzel": { "index": 219, "address": "schnitzel.html" },
        "Schreibübung": { "index": 220, "address": "schreibuebung.html" },
        "Schwangere": { "index": 221, "address": "schwangere.html" },
        "Schwarzmeer-Perspektive": { "index": 222, "address": "schwarzmeer-perspektive.html" },
        "Schweinchenrosig": { "index": 223, "address": "schweinchenrosig.html" },
        "»Sehnsucht«": { "index": 224, "address": "sehnsucht.html" },
        "Senf": { "index": 225, "address": "senf.html" },
        "Serviererin": { "index": 226, "address": "serviererin.html" },
        "Sex": { "index": 227, "address": "sex.html" },
        "Siesta": { "index": 228, "address": "siesta.html" },
        "Silo": { "index": 229, "address": "silo.html" },
        "Spezifisches Gewicht": { "index": 230, "address": "spezifisches-gewicht.html" },
        "Spielregel": { "index": 231, "address": "spielregel.html" },
        "Spinat": { "index": 232, "address": "spinat.html" },
        "Stadtbibliothek": { "index": 233, "address": "stadtbibliothek.html" },
        "Städtchen": { "index": 234, "address": "staedtchen.html" },
        "Standard-Mariandl": { "index": 235, "address": "standard-mariandl.html" },
        "Station Nixdorf": { "index": 236, "address": "station-nixdorf.html" },
        "Stationsgebäude": { "index": 237, "address": "stationsgebaeude.html" },
        "Stationsgebäude, wasserseitig": { "index": 238, "address": "stationsgebaeude-wasserseitig.html" },
        "Steinbruch": { "index": 239, "address": "steinbruch.html" },
        "Straßenbahn": { "index": 240, "address": "strassenbahn.html" },
        "Studien zum Fetischismus": { "index": 241, "address": "studien-zum-fetischismus.html" },
        "Sulfatschluß": { "index": 242, "address": "sulfatschluss.html" },
        "Suppe": { "index": 243, "address": "suppe.html" },
        "Susi": { "index": 244, "address": "susi.html" },
        "Susi- und Eiske-Epilog": { "index": 245, "address": "susi--und-eiske-epilog.html" },
        "Sympathisch": { "index": 246, "address": "sympathisch.html" },
        "Tätowieren": { "index": 247, "address": "taetowieren.html" },
        "Taufstelle": { "index": 248, "address": "taufstelle.html" },
        "Teenager-Briefe": { "index": 249, "address": "teenager-briefe.html" },
        "Torschlußpanik": { "index": 250, "address": "torschlusspanik.html" },
        "Torte": { "index": 251, "address": "torte.html" },
        "Transvestiten": { "index": 252, "address": "transvestiten.html" },
        "Ufer": { "index": 253, "address": "ufer.html" },
        "Ufermauer": { "index": 254, "address": "ufermauer.html" },
        "Ulli Ergänzungen": { "index": 255, "address": "ulli-ergaenzungen.html" },
        "Ultraviolett": { "index": 256, "address": "ultraviolett.html" },
        "Umschrieben": { "index": 257, "address": "umschrieben.html" },
        "Unbestimmt": { "index": 258, "address": "unbestimmt.html" },
        "V": { "index": 259, "address": "v.html" },
        "Verauung": { "index": 260, "address": "verauung.html" },
        "Verladelandschaft": { "index": 261, "address": "verladelandschaft.html" },
        "Verwahrloste Fischerin": { "index": 262, "address": "verwahrloste-fischerin.html" },
        "Verwandelt euch": { "index": 263, "address": "verwandelt-euch.html" },
        "Vorderdeckereignisse": { "index": 264, "address": "vorderdeckereignisse.html" },
        "Vorworte": { "index": 265, "address": "vorworte.html" },
        "Vulkankegel": { "index": 266, "address": "vulkankegel.html" },
        "Wachau": { "index": 267, "address": "wachau.html" },
        "Waffe": { "index": 268, "address": "waffe.html" },
        "Wallgraben": { "index": 269, "address": "wallgraben.html" },
        "Wasser": { "index": 270, "address": "wasser.html" },
        "Wasserbeschlagenes Glas": { "index": 271, "address": "wasserbeschlagenes-glas.html" },
        "Wasserereignisse": { "index": 272, "address": "wasserereignisse.html" },
        "Wauß": { "index": 273, "address": "wauss.html" },
        "WC": { "index": 274, "address": "wc.html" },
        "Weg zur Schiffsstation": { "index": 275, "address": "weg-zur-schiffsstation.html" },
        "Weiblich": { "index": 276, "address": "weiblich.html" },
        "Wein": { "index": 277, "address": "wein.html" },
        "Weingarten": { "index": 278, "address": "weingarten.html" },
        "Wildenten": { "index": 279, "address": "wildenten.html" },
        "Wolfi-Bauer": { "index": 280, "address": "wolfi-bauer.html" },
        "Zeitung": { "index": 281, "address": "zeitung.html" },
        "Zero": { "index": 282, "address": "zero.html" },
        "Zigarre": { "index": 283, "address": "zigarre.html" },
        "Zukunft des Rotgebrauchs": { "index": 284, "address": "zukunft-des-rotgebrauchs.html" },
        "Zunächst aber": { "index": 285, "address": "zunaechst-aber.html" },
        "Zz": { "index": 286, "address": "zz.html" },
        "Über den Lexikon-Roman": { "index": 287, "address": "ueber-den-lexikon-roman.html"}
    };

    const keys = [
        "Gebrauchsanweisung",
        "A",
        "Aberdeen",
        "Achselhöhle",
        "Affirmative Dichtung",
        "Allwissender Erzähler",
        "Anfang der Reise",
        "Annie",
        "Anwendung der Rot-Überlegungen auf ein Kleid",
        "Arcimboldi",
        "Arnica",
        "Auen",
        "Auen im allgemeinen",
        "Auflockerungen",
        "Auflockerung im allgemeinen",
        "Außenvögel",
        "Autostraße an den Terrassenhügeln",
        "Backstube",
        "Barbara",
        "Barock",
        "Befreiung der Aussicht",
        "Befund",
        "Begeisterung",
        "Begründung für den Artikel Körper",
        "Beißzange",
        "Bergklebesiedlung",
        "Bestimmungsbuch",
        "Betonlager",
        "Bezirksgericht",
        "Bier",
        "Biographische Übung",
        "Blaue Trichter",
        "Blaugrüner Liegestuhl",
        "Blechchristus",
        "B. Ø.",
        "Bordabenteuer",
        "Bordereignisse",
        "Braun",
        "Brausepulver",
        "Brotlaib",
        "Brücke",
        "Brücken der Erwachsenen",
        "Bunte Stühle",
        "Burg",
        "»Caffeehaus«",
        "Chemiewerk",
        "CP",
        "Debitorenbuchhalterin",
        "Deck",
        "Deformation",
        "Dicke Leute",
        "Die Heterogene",
        "Die mit den Schlafaugen",
        "Die mit der Tulpe",
        "Diensthäuschen",
        "Die Rote im roten Trikot mit rotem Popo",
        "Dynamit-Attentäter",
        "Edelnaschwerk",
        "Eichhörnchen",
        "Einmarsch ins Schiff",
        "Eiske",
        "Eissalon",
        "Eklektizismus",
        "Element X",
        "Entbehren",
        "Entsagungsvolles",
        "Entwicklungen",
        "Erfolg",
        "Erproben",
        "Erwartungsmuster",
        "Espresso",
        "Essen und Trinken",
        "Eutonignale",
        "Exporteur",
        "Exporteurgedanken",
        "Fabrikschlote",
        "Fehlen von Brücken oder Fähren",
        "Fehlen von Rot",
        "Fehlertoleranz",
        "Felder",
        "Feldstreifen von Senf",
        "Feminismus",
        "F-Erlebnis",
        "Fetischist",
        "Filmtitelspiel",
        "Fischer",
        "Flotte",
        "Frau und Freude, das Blatt mit Herzpfiff",
        "Freiheit, die ich meine",
        "Gaatsch",
        "Garage",
        "Gasthäuser",
        "Gegrilltes Hähnchen",
        "Gelbe Schenken",
        "Gemeindebauten",
        "Geographie",
        "Gesäß",
        "Geschäftsbeziehung",
        "Grottenolm",
        "Hahnenzierden",
        "Haus am Knopfer Hügel",
        "Häuschen",
        "Haus mit dem hochfrühlinghaften Zimmer",
        "Haus mit dem Standard-Mariandl",
        "Hawaiimädchen",
        "Herrenjournal",
        "Hügel",
        "Hühner",
        "Hunde",
        "100 kg attraktive Frau",
        "Hundeschärfer",
        "Hundstage",
        "Ingenieur",
        "Ing. Pozzi",
        "Johannisbeerwein",
        "Joyce",
        "Jung",
        "Kamille",
        "Katze",
        "Kaufhäuser",
        "Kinderaufsicht",
        "Kinder des Weidendorfes",
        "Kleine Dinge",
        "Knopf",
        "Knopfbach",
        "Knopfer Tor",
        "Kollaboration",
        "Komposition",
        "Kopftuch",
        "Körper",
        "Korrupte Bräute",
        "Krämer",
        "Kreissäge",
        "Kuhdreck",
        "Kulinarisch",
        "Kunststoffliebe",
        "Küssen",
        "Labyrinth",
        "Lagerschuppen",
        "Landkonditorei",
        "Landschaft",
        "Leere",
        "Leuchtendes Blau",
        "Lexikonromane",
        "Liddy",
        "Lokalisation",
        "Lollo",
        "Löwenfaß",
        "Mädchen",
        "Mädchenblau-Paradoxon",
        "Madigmachen",
        "Magazine",
        "Malkasten",
        "Manipulation",
        "Man nehme",
        "Männlich",
        "Maria-Theresien-Gelb",
        "Marktkundliches",
        "Mary McPee",
        "Mastmädchen",
        "Masut",
        "Maturanten",
        "M. d. D.",
        "Melina Mercouri",
        "Menschen",
        "Menschennäheres Stadium",
        "Milchblau",
        "Mindel",
        "Mineralwasser",
        "Mittagserwartung",
        "Mittelteil",
        "Molotow-Cocktail",
        "Motive für das Quälen von Katzen",
        "Motive für den Erwerb eines Eichhörnchens",
        "Motive für die Freude an Verwinkelungen",
        "Motivsammlung",
        "M. S.",
        "Mundart",
        "Muskeln",
        "Nachbetrachtung",
        "Nach dem Auftauchen der Auen",
        "Nachgefrischt",
        "Nachmittagsgespräche",
        "Nachworte",
        "Nachziehverfahren?",
        "NATUR-HOTEL",
        "Nickel",
        "Nouveau roman",
        "Ödstätten",
        "On the rocks",
        "Orangeblonde",
        "Orangehafter-Brand-Paradoxon",
        "Ortsbestimmung",
        "Paddelclub-Haus",
        "Parfum",
        "Perspektiven",
        "Pfahlhäuser",
        "Pferde",
        "Picknick",
        "Pläne",
        "Plankengeruch",
        "Plankton",
        "Platonische Hälften",
        "Politik",
        "Pop-Roman?",
        "Promenade",
        "Quenta Quebec",
        "Realismus",
        "Rechen",
        "Restaurant",
        "Restaurant-Menschen",
        "Roststangenlager",
        "Sättigung",
        "Scharfer Hund",
        "Schildermalen",
        "Schläflinge",
        "Schlager",
        "Schleuse",
        "Schnitzel",
        "Schreibübung",
        "Schwangere",
        "Schwarzmeer-Perspektive",
        "Schweinchenrosig",
        "»Sehnsucht«",
        "Senf",
        "Serviererin",
        "Sex",
        "Siesta",
        "Silo",
        "Spezifisches Gewicht",
        "Spielregel",
        "Spinat",
        "Stadtbibliothek",
        "Städtchen",
        "Standard-Mariandl",
        "Station Nixdorf",
        "Stationsgebäude",
        "Stationsgebäude, wasserseitig",
        "Steinbruch",
        "Straßenbahn",
        "Studien zum Fetischismus",
        "Sulfatschluß",
        "Suppe",
        "Susi",
        "Susi- und Eiske-Epilog",
        "Sympathisch",
        "Tätowieren",
        "Taufstelle",
        "Teenager-Briefe",
        "Torschlußpanik",
        "Torte",
        "Transvestiten",
        "Ufer",
        "Ufermauer",
        "Ulli Ergänzungen",
        "Ultraviolett",
        "Umschrieben",
        "Unbestimmt",
        "V",
        "Verauung",
        "Verladelandschaft",
        "Verwahrloste Fischerin",
        "Verwandelt euch",
        "Vorderdeckereignisse",
        "Vorworte",
        "Vulkankegel",
        "Wachau",
        "Waffe",
        "Wallgraben",
        "Wasser",
        "Wasserbeschlagenes Glas",
        "Wasserereignisse",
        "Wauß",
        "WC",
        "Weg zur Schiffsstation",
        "Weiblich",
        "Wein",
        "Weingarten",
        "Wildenten",
        "Wolfi-Bauer",
        "Zeitung",
        "Zero",
        "Zigarre",
        "Zukunft des Rotgebrauchs",
        "Zunächst aber",
        "Zz",
        "Über den Lexikon-Roman",
    ];

    const startEmptyPages = 6;
    const endEmptyPages = 2;
    const totalPages = 296;

    const currentPage = 127;
    const progressTitle = "Hügel"

    const ratio = (currentPage - startEmptyPages) / (totalPages - (startEmptyPages + endEmptyPages));
    const progressPercents = (ratio * 100).toFixed(2)

    const progressIndex = list[progressTitle].index

mixin lineBreaks(items)
    each item, index in items
        | #{item}
        if index !== items.length - 1
            br

