@font-face {
  font-family: "Adobe Garamond Pro";
  src: url("fonts/AGaramondPro-Regular.woff2") format("woff2"), /* Modern Browsers */ url("fonts/AGaramondPro-Regular.woff") format("woff"); /* Older Browsers */
}

body {
  font-family: "Adobe Garamond Pro", serif;
  line-height: 1.5;
  margin: 20px;
  font-size: larger;
  color: rgb(40, 40, 40);
}

.small-caps {
  display: inline;
  font-variant: small-caps;
}

main {
  margin: 0 auto;
  max-width: 60ch;
  hyphens: auto;
}

.indent {
  text-indent: 20px;
}

h1 {
  text-align: center;
}

.poetry {
  max-width: fit-content;
  margin-right: auto;
  margin-left: auto;
}

a {
  text-decoration: none;
  color: rgb(0, 64, 221);
}

a:hover {
  color: rgb(215, 0, 21);
}

sup {
  font-size: small;
  line-height: 1.5;
}

.spaced {
  letter-spacing: 1ch;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.offset-right {
  margin-right: 10ch;
}

#welcome-link {
  text-align: center;
  font-size: 2em;
}

ul {
  padding-inline-start: 40px;
}

.barbara-rahmen {
  padding: 12em 0px;
  font-size: smaller;
  text-align: center;
  border-style: dotted;
  min-width: fit-content;
  max-width: 50%;
  margin: 0 auto;
}

.bezirksgericht-char {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bezirksgericht-grid-container {
  position: relative;
}

.bezirksgericht-grid {
  display: grid;
  grid-template-columns: repeat(45, 1fr);
  grid-template-rows: repeat(24, auto);
}

.absolute {
  position: absolute;
}
