@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

@font-face {
  font-family: "EB Garamond SC";
  src: url(fonts/EBGaramondSC.woff);
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "EB Garamond", serif;
  line-height: 1.5;
  margin: 20px;
  font-size: large;
  color: rgb(40, 40, 40);
}

.small-caps {
  font-family: "EB Garamond SC", serif;
  display: inline;
  /* font-variant: small-caps; */
}

main {
  margin: 0 auto;
  max-width: 65ch;
  hyphens: auto;
}

.indent {
  text-indent: 20px;
}

ul {
  padding-inline-start: 40px; /* Default value, just to remind myself what it is. */
}

hr {
  margin: 20px;
}

h1 {
  margin: 20px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  hyphens: none;
}

h2 {
  margin: 20px;
  font-weight: normal;
  text-align: center;
  hyphens: none;
}

.poetry {
  margin: 1em;
  max-width: fit-content;
  margin-right: auto;
  margin-left: auto;
}

a {
  text-decoration: none;
  color: rgb(0, 64, 221);
}

a:hover {
  color: rgb(215, 0, 21);
}

sup {
  font-size: small;
  line-height: 1.5;
}

.spaced {
  letter-spacing: 1ch;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

/* Page-specific styles. */

#welcome-link {
  text-align: center;
  font-size: 2rem;
  margin: 20px;
}

#auen-19 .offset-right {
  text-align: right;
  margin: 1em 20% 1em auto;
  line-height: 1em;
}

#barbara-4 .rahmen {
  padding: 12em 20px;
  font-size: smaller;
  text-align: center;
  border-style: dotted;
  min-width: fit-content;
  max-width: 50%;
  margin: 2em auto;
}

#bezirksgericht-1 .char {
  display: flex;
  justify-content: center;
}

#bezirksgericht-1 .grid-container {
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;
}

#bezirksgericht-1 .grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(45, minmax(0px, 1fr));
  grid-template-rows: repeat(24, auto);
}

#bezirksgericht-1 .underlay {
  grid-template-rows: repeat(24, minmax(0px, 1fr));
  font-size: small;
  position: absolute;
  height: 100%;
}

#bezirksgericht-1 .und-so-schoene {
  grid-row: 22;
  grid-column: 4 / 11;
}

#bezirksgericht-1 .bunte {
  grid-column: 14 / 22;
  grid-row: 22;
}

#bezirksgericht-1 .eich {
  grid-column: 20 / 23;
  grid-row: 10;
}
#bezirksgericht-1 .hoernchen {
  grid-column: 25 / 33;
  grid-row: 8;
}
#bezirksgericht-1 .rennen {
  grid-column: 30 / 33;
  grid-row: 16;
}
#bezirksgericht-1 .draussen {
  grid-column: 36 / 44;
  grid-row: 16;
}
#bezirksgericht-1 .vorbei {
  grid-column: 41 / 44;
  grid-row: 22;
}
